<!-- This is the second edition of Free Software, Free Society: Selected Essays of Richard M. Stallman.

Free Software Foundation

51 Franklin Street, Fifth Floor

Boston, MA 02110-1335
Copyright C 2002, 2010 Free Software Foundation, Inc.
Verbatim copying and distribution of this entire book are permitted
worldwide, without royalty, in any medium, provided this notice is
preserved. Permission is granted to copy and distribute translations
of this book from the original English into another language provided
the translation has been approved by the Free Software Foundation and
the copyright notice and this permission notice are preserved on all
copies.

ISBN 978-0-9831592-0-9
Cover design by Rob Myers.

Cover photograph by Peter Hinely.
 -->


 <a name="Overcoming-Social-Inertia">
 </a>
 <h1 class="chapter">
  42. Overcoming Social Inertia
 </h1>
 <a name="index-citizen-values_002c-convenience-v_002e-7">
 </a>
 <a name="index-citizen-values_002c-social-inertia-v_002e">
 </a>
 <a name="index-Windows_002c-social-inertia_002c-short_002dterm-convenience_002c-and-_0028see-also-citizen-values_0029">
 </a>
 <p>
  Almost two decades have passed since the combination of GNU and Linux
first made it possible to use a PC in freedom. We have come a long way
since then. Now you can even buy a laptop with GNU/Linux preinstalled
from more than one hardware vendor—although the systems they ship
are not entirely free software. So what holds us back from total
success?
 </p>
 <p>
  The main obstacle to the triumph of software freedom is social
inertia. It exists in many forms, and you have surely seen some of
them. Examples include devices that only work on Windows and
commercial web sites accessible only with Windows. If you value
short-term convenience instead of freedom, you might consider these
reason enough to use Windows. Most companies currently run Windows, so
students who think short-term want to learn how to use it and ask
their schools to teach it. Schools teach Windows, produce graduates
that are used to using Windows, and this encourages businesses to use
Windows.
 </p>
 <p>
  Microsoft actively nurtures this inertia: it encourages schools to
inculcate dependency on Windows, and contracts to set up web sites
that then turn out to work only with Internet Explorer.
 </p>
 <p>
  A few years ago, Microsoft ads argued that Windows was cheaper to run
than GNU/Linux. Their comparisons were debunked, but it is worth
noting the deeper flaw in their argument, the implicit premise which
cites a form of social inertia: “Currently, more technical people
know Windows than GNU/Linux.” People who value their freedom would
not give it up to save money, but many business executives believe
ideologically that everything they possess, even their freedom, should
be for sale.
 </p>
 <p>
  Social inertia consists of people who have given in to social inertia.
When you surrender to social inertia, you become part of the pressure
it exerts on others; when you resist it, you reduce it. We conquer
social inertia by identifying it, and resolving not to be part of
it.
 </p>
 <p>
  Here a weakness holds our community back: most GNU/Linux users have
never even heard the ideas of freedom that motivated the development
of GNU, so they still judge matters based on short-term convenience
rather than on their freedom. This makes them vulnerable to being led
by the nose by social inertia, so that they become part of the
inertia.
 </p>
 <a name="index-call-to-action_002c-talk-about-freedom-1">
 </a>
 <p>
  To build our community’s strength to resist, we need to talk about
free software and freedom—not merely about the practical benefits
that open source supporters cite. As more people recognize what they
need to do to overcome the inertia, we will make more progress.
 </p>
 <hr size="2"/>

