<!-- This is the second edition of Free Software, Free Society: Selected Essays of Richard M. Stallman.

Free Software Foundation

51 Franklin Street, Fifth Floor

Boston, MA 02110-1335
Copyright C 2002, 2010 Free Software Foundation, Inc.
Verbatim copying and distribution of this entire book are permitted
worldwide, without royalty, in any medium, provided this notice is
preserved. Permission is granted to copy and distribute translations
of this book from the original English into another language provided
the translation has been approved by the Free Software Foundation and
the copyright notice and this permission notice are preserved on all
copies.

ISBN 978-0-9831592-0-9
Cover design by Rob Myers.

Cover photograph by Peter Hinely.
 -->


 <a name="We-Can-Put-an-End-to-Word-Attachments">
 </a>
 <h1 class="chapter">
  38. We Can Put an End to Word Attachments
 </h1>
 <a name="index-call-to-action_002c-put-an-end-to-Word-attachments">
 </a>
 <a name="index-Microsoft_002c-Word-_0028see-also-Word_0029">
 </a>
 <a name="index-Word_002c-attachments">
 </a>
 <p>
  Don’t you just hate receiving Word documents in email messages? Word
attachments are annoying, but, worse than that, they impede people from
switching to free software. Maybe we can stop this practice with a
simple collective effort. All we have to do is ask each person who
sends us a Word file to reconsider that way of doing things.
 </p>
 <p>
  Most computer users use Microsoft Word. That is unfortunate for them,
since Word is proprietary software, denying its users the freedom to
study, change, copy, and redistribute it. And because Microsoft
changes the Word file format with each release, its users are locked
into a system that compels them to buy each upgrade whether they want
a change or not. They may even find, several years from now, that the
Word documents they are writing this year can no longer be read with
the version of Word they use then.
 </p>
 <p>
  But it hurts us, too, when they assume we use Word and send us (or
demand that we send them) documents in Word format. Some people
publish or post documents in Word format. Some organizations will
only accept files in Word format: I heard from someone that he was
unable to apply for a job because resumes had to be Word files. Even
governments sometimes impose Word format on the public, which is truly
outrageous.
 </p>
 <p>
  For us users of free operating systems, receiving Word documents is an
inconvenience or an obstacle. But the worst impact of sending Word
format is on people who might switch to free systems: they hesitate
because they feel they must have Word available to read the Word files
they receive. The practice of using the secret Word format for
interchange impedes the growth of our community and the spread of
freedom. While we notice the occasional annoyance of receiving a Word
document, this steady and persistent harm to our community usually
doesn’t come to our attention. But it is happening all the time.
 </p>
 <a name="index-ASCII-1">
 </a>
 <p>
  Many GNU users who receive Word documents try to find ways to handle
them. You can manage to find the somewhat obfuscated ASCII text in
the file by skimming through it. Free software today can read most
Word documents, but not all—the format is secret and has not been
entirely decoded. Even worse, Microsoft can change it at any time.
 </p>
 <a name="index-Microsoft_002c-OOXML-format-_0028see-also-patents_0029-1">
 </a>
 <p>
  Worst of all, it has already done so. Microsoft Office 2007 uses by
default a format based on the patented OOXML format. (This is the one
that Microsoft got declared an “open standard” by
political manipulation and packing standards committees.) The actual
format is not entirely OOXML, and it is not entirely documented.
Microsoft offers a gratis patent license for OOXML on terms which do
not allow free implementations. We are thus beginning to receive Word
files in a format that free programs are not even allowed to read.
 </p>
 <p>
  When you receive a Word file, if you think of that as an isolated
event, it is natural to try to cope by finding a way to read
it. Considered as an instance of a pernicious systematic practice, it
calls for a different approach. Managing to read the file is treating
a symptom of an epidemic disease; what we really want to do is stop
the disease from spreading. That means we must convince people not to
send or post Word documents.
 </p>
 <p>
  I therefore make a practice of responding to Word attachments with a
polite message explaining why the practice of sending Word files is a
bad thing, and asking the person to resend the material in a nonsecret
format. This is a lot less work than trying to read the somewhat
obfuscated ASCII text in the Word file. And I find that people
usually understand the issue, and many say they will not send Word
files to others any more.
  <a name="index-ASCII-2">
  </a>
 </p>
 <p>
  If we all do this, we will have a much larger effect. People who
disregard one polite request may change their practice when they
receive multiple polite requests from various people. We may be able
to give
  <em>
   Don’t send Word format!
  </em>
  the status of
  <a name="index-netiquette">
  </a>
  netiquette,
if we start systematically raising the issue with everyone who sends
us Word files.
 </p>
 <p>
  To make this effort efficient, you will probably want to develop a
canned reply that you can quickly send each time it is necessary.
I’ve included two examples: the version I have been using recently,
followed by a new version that teaches a Word user how to convert to
other useful formats.
 </p>
 <ul>
  <li>
   <blockquote class="smallquotation">
    <a name="index-Word_002c-converting-Word-documents-into-free-formats">
    </a>
    <a name="index-PDF-2">
    </a>
    <a name="index-HTML-2">
    </a>
    <p>
     You sent the attachment in Microsoft Word format, a secret
proprietary format, so I cannot read it. If you send me the plain
text, HTML, or PDF, then I could read it.
    </p>
    <p>
     Sending people documents in Word format has bad effects, because that
practice puts pressure on them to use Microsoft software. In effect,
you become a buttress of the Microsoft monopoly. This specific
problem is a major obstacle to the broader adoption of GNU/Linux.
Would you please reconsider the use of Word format for communication
with other people?
    </p>
    <p>
     You sent the attachment in Microsoft Word format, a secret
proprietary format, so it is hard for me to read. If you send me
plain text, HTML, or PDF, then I will read it.
    </p>
    <p>
     Distributing documents in Word format is bad for you and for others.
You can’t be sure what they will look like if someone views them
with a different version of Word; they may not work at all.
    </p>
    <p>
     Receiving Word documents is bad for you because they can carry viruses (see
     <a href="http://en.wikipedia.org/wiki/Macro_virus_(computing)">
      http://en.wikipedia.org/wiki/Macro_virus_(computing)
     </a>
     ). Sending Word documents is bad for you because a Word document normally includes hidden information about the author, enabling those in the know to pry into the author’s activities (maybe yours). Text that you think you deleted may still be embarrassingly present. See
     <a href="http://news.bbc.co.uk/2/hi/technology/3154479.stm">
      http://news.bbc.co.uk/2/hi/technology/3154479.stm
     </a>
     for more info.
    </p>
    <p>
     But above all, sending people Word documents puts pressure on them to
use Microsoft software and helps to deny them any other choice. In
effect, you become a buttress of the Microsoft monopoly. This
pressure is a major obstacle to the broader adoption of free software.
Would you please switch to a different way of sending files to other
people, instead of Word format?
    </p>
    <p>
     To convert the file to HTML using Word is simple. Open the
document, click on
     <tt>
      File
     </tt>
     , then
     <tt>
      Save As
     </tt>
     , and in the
     <tt>
      Save As Type
     </tt>
     strip
box at the bottom of the box, choose
     <tt>
      HTML Document
     </tt>
     or
     <tt>
      Web Page
     </tt>
     . Then
choose
     <tt>
      Save
     </tt>
     . You can then attach the new HTML document instead of
your Word document. Note that Word changes in inconsistent
ways—if you see slightly different menu item names, please try
them.
    </p>
    <p>
     To convert to plain text is almost the same—instead of
     <tt>
      HTML
Document
     </tt>
     , choose
     <tt>
      Text Only
     </tt>
     or
     <tt>
      Text Document
     </tt>
     as the
     <tt>
      Save As
Type
     </tt>
     .
     <a name="index-HTML-3">
     </a>
    </p>
    <p>
     Your computer may also have a program to convert to PDF format.
Select
     <tt>
      File
     </tt>
     , then
     <tt>
      Print
     </tt>
     . Scroll through available printers and select
the PDF converter. Click on the
     <tt>
      Print
     </tt>
     button and enter a name for the
PDF file when requested.
     <a name="index-PDF-3">
     </a>
    </p>
    <p>
     See
     <a href="http://gnu.org/philosophy/no-word-attachments.html">
      http://gnu.org/philosophy/no-word-attachments.html
     </a>
     for more
about this issue.
    </p>
   </blockquote>
  </li>
 </ul>
 <p>
  You can use these replies verbatim if you like, or you can personalize
them or write your own. By all means construct a reply that fits your
ideas and your personality—if the replies are personal and not
all alike, that will make the campaign more effective.
 </p>
 <p>
  These replies are meant for individuals who send Word files. When you
encounter an organization that imposes use of Word format, that calls
for a different sort of reply; there you can raise issues of fairness
that would not apply to an individual’s actions.
 </p>
 <p>
  Some recruiters ask for resumes in Word format. Ludicrously, some
recruiters do this even when looking for someone for a free software
job. (Anyone using those recruiters for free software jobs is not
likely to get a competent employee.) To help change this practice,
you can put a link to
  <a href="http://gnu.org/philosophy/no-word-attachments.html">
   http://gnu.org/philosophy/no-word-attachments.html
  </a>
  into your resume, next to links to
other formats of the resume. Anyone hunting for a Word version of the
resume will probably read the page.
 </p>
 <p>
  This essay talks about Word attachments, since they are by far the most
common case. However, the same issues apply with other proprietary
formats, such as
  <a name="index-PowerPoint-_0028see-also-Word_0029">
  </a>
  PowerPoint and Excel. Please feel free to adapt the
replies to cover those as well.
  <a name="index-Word_002c-converting-Word-documents-into-free-formats-1">
  </a>
 </p>
 <p>
  With our numbers, simply by asking, we can make a difference.
  <a name="index-call-to-action_002c-put-an-end-to-Word-attachments-1">
  </a>
  <a name="index-Microsoft_002c-Word-_0028see-also-Word_0029-1">
  </a>
  <a name="index-Word_002c-attachments-1">
  </a>
 </p>
 <hr size="2"/>

