<!-- This is the second edition of Free Software, Free Society: Selected Essays of Richard M. Stallman.

Free Software Foundation

51 Franklin Street, Fifth Floor

Boston, MA 02110-1335
Copyright C 2002, 2010 Free Software Foundation, Inc.
Verbatim copying and distribution of this entire book are permitted
worldwide, without royalty, in any medium, provided this notice is
preserved. Permission is granted to copy and distribute translations
of this book from the original English into another language provided
the translation has been approved by the Free Software Foundation and
the copyright notice and this permission notice are preserved on all
copies.

ISBN 978-0-9831592-0-9
Cover design by Rob Myers.

Cover photograph by Peter Hinely.
 -->


 <a name="Why-Schools-Should-Exclusively-Use-Free-Software">
 </a>
 <h1 class="chapter">
  7. Why Schools Should Exclusively Use Free Software
 </h1>
 <a name="index-education_002c-free-software-in-1">
 </a>
 <a name="index-schools_002c-free-software-in-1">
 </a>
 <a name="index-call-to-action_002c-use-only-free-software-in-schools">
 </a>
 <a name="index-users_002c-benefit-to-2">
 </a>
 <p>
  There are general reasons why all computer users should insist on
free software: it gives users the freedom to control their own
computers—with proprietary software, the computer does what the
software
  <a name="index-ownership_002c-and-users_0027-freedom-1">
  </a>
  owner wants it to do, not what the user wants it to
do. Free software also gives users the freedom to cooperate with each
other, to lead an upright life. These reasons apply to schools as
they do to everyone.
 </p>
 <p>
  The purpose of this article is to state additional reasons that
apply specifically to education.
 </p>
 <p>
  First, free software can save schools money. Free software gives
schools, like other users, the freedom to copy and redistribute the
software, so the school system can make copies for all the computers
they have. In poor countries, this can help close the digital
divide.
 </p>
 <a name="index-traps_002c-donated-proprietary-software">
 </a>
 <p>
  This obvious reason, while important in practical terms, is rather
shallow. And proprietary software developers can eliminate this reason
by donating copies to the schools. (Warning: a school that accepts
such an offer may have to pay for upgrades later.) So let’s look at
the deeper reasons.
 </p>
 <a name="index-citizen-values_002c-schools_0027-social-mission">
 </a>
 <p>
  Schools have a social mission: to teach students to be citizens of
a strong, capable, independent, cooperating and free society. They
should promote the use of free software just as they promote
recycling. If schools teach students free software, then the students
will tend to use free software after they graduate. This will help
society as a whole escape from being dominated (and gouged) by
megacorporations.
 </p>
 <p>
  What schools should refuse to do is teach dependence. Those
corporations offer free samples to schools for the same reason tobacco
companies distribute free cigarettes to minors: to get children
addicted.
  <a href="#FOOT27" name="DOCF27">
   (27)
  </a>
  They will not give discounts to these students once they’ve grown up
and graduated.
 </p>
 <p>
  Free software permits students to learn how software works. Some
students, on reaching their teens, want to learn everything there is
to know about their computer and its software. They are intensely
curious to read the source code of the programs that they use every
day. To learn to write good code, students need to read lots of code
and write lots of code. They need to read and understand real
programs that people really use. Only free software permits this.
 </p>
 <p>
  Proprietary software rejects their thirst for knowledge: it says,
“The knowledge you want is a secret—learning is
forbidden!” Free software encourages everyone to learn. The free
software community rejects the “priesthood of technology,”
which keeps the general public in ignorance of how technology works;
we encourage students of any age and situation to read the source code
and learn as much as they want to know. Schools that use free software
will enable gifted programming students to advance.
 </p>
 <p>
  The deepest reason for using free software in schools is for moral
education. We expect schools to teach students basic facts and useful
skills, but that is not their whole job. The most fundamental job of
schools is to teach good citizenship, which includes the habit of
helping others. In the area of computing, this means teaching people
to share software. Schools, starting from nursery school, should tell
their pupils, “If you bring software to school, you must share
it with the other students. And you must show the source code to the
class, in case someone wants to learn.”
 </p>
 <p>
  Of course, the school must practice what it preaches: all the
software installed by the school should be available for students to
copy, take home, and redistribute further.
 </p>
 <p>
  Teaching the students to use free software, and to participate in
the free software community, is a hands-on civics lesson. It also
teaches students the role model of public service rather than that of
tycoons. All levels of school should use free software.
  <a name="index-schools_002c-free-software-in-2">
  </a>
  <a name="index-call-to-action_002c-use-only-free-software-in-schools-1">
  </a>
  <a name="index-users_002c-benefit-to-3">
  </a>
 </p>
 <div class="footnote">
  <hr>
   <h3>
    Footnotes
   </h3>
   <h3>
    <a href="#DOCF27" name="FOOT27">
     (27)
    </a>
   </h3>
   <a name="index-RJ-Reynolds-Tobacco-Company">
   </a>
   <p>
    RJ Reynolds Tobacco Company was fined $15m in 2002 for handing out
free samples of cigarettes at events attended by children. See
    <a href="http://www.bbc.co.uk/worldservice/sci_tech/features/health/tobaccotrial/usa.htm">
     http://www.bbc.co.uk/worldservice/sci_tech/features/health/tobaccotrial/usa.htm
    </a>
    .
   </p>
  </hr>
 </div>
 <hr size="2"/>

