<!-- This is the second edition of Free Software, Free Society: Selected Essays of Richard M. Stallman.

Free Software Foundation

51 Franklin Street, Fifth Floor

Boston, MA 02110-1335
Copyright C 2002, 2010 Free Software Foundation, Inc.
Verbatim copying and distribution of this entire book are permitted
worldwide, without royalty, in any medium, provided this notice is
preserved. Permission is granted to copy and distribute translations
of this book from the original English into another language provided
the translation has been approved by the Free Software Foundation and
the copyright notice and this permission notice are preserved on all
copies.

ISBN 978-0-9831592-0-9
Cover design by Rob Myers.

Cover photograph by Peter Hinely.
 -->


 <a name="Freedom-or-Power_003f">
 </a>
 <a name="Appendix-B_003a-Translations-of-the-Term-_0060_0060Free-Software_0027_0027">
 </a>
 <h1 class="unnumbered">
  <span class="roman">
   Appendix B: Translations of the Term “Free Software”
  </span>
 </h1>
 <a name="index-_0060_0060free-software_002c_0027_0027-unambiguous-translations-of-2">
 </a>
 <p>
  The following is a list of recommended unambiguous translations of
the term “free software” into various languages:
  <a name="FS-Translations">
  </a>
 </p>
 <ul class="toc">
  <li>
   - Afrikaans: vrye sagteware
  </li>
  <li>
   - Albanian: software i lirë
  </li>
  <li>
   - Arabic:
   <img alt="arabic" height="24" src="/essay/Appendix_B:_Translations_of_the_Term_“Free Software”/data/arabic.jpg"/>
  </li>
  <li>
   - Belarusian:
   <img alt="belarusian" src="/essay/Appendix_B:_Translations_of_the_Term_“Free Software”/data/belarusian.jpg"/>
  </li>
  <li>
   - Bulgarian:
   <img alt="bulgarian" src="/essay/Appendix_B:_Translations_of_the_Term_“Free Software”/data/bulgarian.jpg"/>
  </li>
  <li>
   - Catalan: programari lliure
  </li>
  <li>
   - Chinese:
   <img alt="chinese-simplified" src="/essay/Appendix_B:_Translations_of_the_Term_“Free Software”/data/chinese-simplified.jpg">
    (simplified),
    <img alt="chinese-traditional" src="/essay/Appendix_B:_Translations_of_the_Term_“Free Software”/data/chinese-traditional.jpg">
     (traditional)
    </img>
   </img>
  </li>
  <li>
   - Czech: svobodný software
  </li>
  <li>
   - Croatian/Serbian: slobodni softver
  </li>
  <li>
   - Danish: fri software
   <em>
    or
   </em>
   frit programmel
  </li>
  <li>
   - Dutch: vrije software
  </li>
  <li>
   - Esperanto: libera programaro
  </li>
  <li>
   - Estonian: vaba tarkvara
  </li>
  <li>
   - Farsi:
   <img alt="farsi" height="20" src="/essay/Appendix_B:_Translations_of_the_Term_“Free Software”/data/farsi.jpg"/>
  </li>
  <li>
   - Finnish: vapaa ohjelmisto
  </li>
  <li>
   - French: logiciel libre
  </li>
  <li>
   - German: freie Software
  </li>
  <li>
   - Greek:
   <img alt="greek" src="/essay/Appendix_B:_Translations_of_the_Term_“Free Software”/data/greek.jpg"/>
  </li>
  <li>
   - Hungarian: szabad szoftver
  </li>
  <li>
   - Icelandic: frjáls hugbúna@dh{ur
  </li>
  <li>
   - Ido: libera programaro
  </li>
  <li>
   - Indonesian: perangkat lunak bebas
  </li>
  <li>
   - Interlingua: libere programmage
   <em>
    or
   </em>
   libere programmario
  </li>
  <li>
   - Irish: bog earraí saoire
  </li>
  <li>
   - Italian: software libero
  </li>
  <li>
   - Japanese:
   <img alt="japanese-kanji" src="/essay/Appendix_B:_Translations_of_the_Term_“Free Software”/data/japanese-kanji.jpg">
    <em>
     or
    </em>
    <img alt="japanese-kana" src="/essay/Appendix_B:_Translations_of_the_Term_“Free Software”/data/japanese-kana.jpg"/>
   </img>
  </li>
  <li>
   - Lithuanian: laisva programinė įranga
  </li>
  <li>
   - Malay: perisian bebas
  </li>
  <li>
   - Norwegian: fri programvare
  </li>
  <li>
   - Polish: wolne oprogramowanie
  </li>
  <li>
   - Portuguese: software livre
  </li>
  <li>
   - Romanian: software liber
  </li>
  <li>
   - Russian:
   <img alt="russian" src="/essay/Appendix_B:_Translations_of_the_Term_“Free Software”/data/russian.jpg"/>
  </li>
  <li>
   - Sardinian: software liberu
  </li>
  <li>
   - Serbian/Croatian:
   <img alt="serbian-croatian" src="/essay/Appendix_B:_Translations_of_the_Term_“Free Software”/data/serbian-croatian.jpg"/>
  </li>
  <li>
   - Slovak: slobodný softvér
  </li>
  <li>
   - Slovenian: prosto programje
  </li>
  <li>
   - Spanish: software libre
  </li>
  <li>
   - Swahili: Programu huru za Kompyuta
  </li>
  <li>
   - Swedish: fri programvara, fri mjukvara
  </li>
  <li>
   - Tagalog: malayang software
  </li>
  <li>
   - Tamil:
   <img alt="tamil" height="20" src="/essay/Appendix_B:_Translations_of_the_Term_“Free Software”/data/tamil.jpg"/>
  </li>
  <li>
   - Turkish: özgür yazilim
  </li>
  <li>
   - Ukrainian:
   <img alt="ukrainian" src="/essay/Appendix_B:_Translations_of_the_Term_“Free Software”/data/ukrainian.jpg"/>
  </li>
  <li>
   - Welsh: meddalwedd rydd
  </li>
  <li>
   - Zulu: Isoftware Ekhululekile
   <a name="index-_0060_0060free-software_002c_0027_0027-unambiguous-translations-of-3">
   </a>
  </li>
 </ul>
 <hr size="6"/>

