<!-- This is the second edition of Free Software, Free Society: Selected Essays of Richard M. Stallman.

Free Software Foundation

51 Franklin Street, Fifth Floor

Boston, MA 02110-1335
Copyright C 2002, 2010 Free Software Foundation, Inc.
Verbatim copying and distribution of this entire book are permitted
worldwide, without royalty, in any medium, provided this notice is
preserved. Permission is granted to copy and distribute translations
of this book from the original English into another language provided
the translation has been approved by the Free Software Foundation and
the copyright notice and this permission notice are preserved on all
copies.

ISBN 978-0-9831592-0-9
Cover design by Rob Myers.

Cover photograph by Peter Hinely.
 -->


 <a name="Why-Software-Should-Be-Free">
 </a>
 <h1 class="chapter">
  6. Why Software Should Be Free
 </h1>
 <a name="Introduction">
 </a>
 <h3 class="subheading">
  Introduction
 </h3>
 <a name="index-ownership_002c-developers_0027-interests-v_002e-public_0027s-prosperity-and-freedom">
 </a>
 <p>
  The existence of software inevitably raises the question of how
decisions about its use should be made. For example, suppose one
individual who has a copy of a program meets another who would like a
copy. It is possible for them to copy the program; who should decide
whether this is done? The individuals involved? Or another party,
called the “owner”?
 </p>
 <p>
  Software developers typically consider these questions on the
assumption that the criterion for the answer is to maximize developers’
profits. The political power of business has led to the government
adoption of both this criterion and the answer proposed by the
developers: that the program has an owner, typically a corporation
associated with its development.
 </p>
 <p>
  I would like to consider the same question using a different
criterion: the prosperity and freedom of the public in general.
 </p>
 <p>
  This answer cannot be decided by current law—the law should
conform to ethics, not the other way around. Nor does current
practice decide this question, although it may suggest possible
answers. The only way to judge is to see who is helped and who is
hurt by recognizing owners of software, why, and how much. In other
words, we should perform a cost-benefit analysis on behalf of society
as a whole, taking account of individual freedom as well as production
of material goods.
 </p>
 <p>
  In this essay, I will describe the effects of having owners, and
show that the results are detrimental. My conclusion is that
programmers have the duty to encourage others to share, redistribute,
study, and improve the software we write: in other words, to write
“free” software.
  <a href="#FOOT23" name="DOCF23">
   (23)
  </a>
 </p>
 <a name="How-Owners-Justify-Their-Power">
 </a>
 <h3 class="subheading">
  How Owners Justify Their Power
 </h3>
 <a name="index-ownership_002c-arguments-for-2">
 </a>
 <p>
  Those who benefit from the current system where programs are property
offer two arguments in support of their claims to own programs: the
emotional argument and the economic argument.
 </p>
 <p>
  The emotional argument goes like this: “I put my sweat, my
heart, my soul into this program. It comes from
  <em>
   me,
  </em>
  it’s
  <em>
   mine
  </em>
  !”
 </p>
 <p>
  This argument does not require serious refutation. The feeling of
attachment is one that programmers can cultivate when it suits them;
it is not inevitable. Consider, for example, how willingly the same
programmers usually sign over all rights to a large corporation for a
salary; the emotional attachment mysteriously vanishes. By contrast,
consider the great artists and artisans of medieval times, who didn’t
even sign their names to their work. To them, the name of the artist
was not important. What mattered was that the work was done—and
the purpose it would serve. This view prevailed for hundreds of
years.
 </p>
 <p>
  The economic argument goes like this: “I want to get
rich”—usually described inaccurately as “making a living”—“and
if you don’t allow me to get rich by programming, then I won’t
program. Everyone else is like me, so nobody will ever program. And
then you’ll be stuck with no programs at all!”  This threat is
usually veiled as friendly advice from the wise.
 </p>
 <p>
  I’ll explain later why this threat is a bluff. First I want to
address an implicit assumption that is more visible in another
formulation of the argument.
 </p>
 <p>
  This formulation starts by comparing the social utility of a
proprietary program with that of no program, and then concludes that
proprietary software development is, on the whole, beneficial, and
should be encouraged. The fallacy here is in comparing only two
outcomes—proprietary software versus no software—and assuming
there are no other possibilities.
 </p>
 <a name="index-copyright-_0028see-also-both-copyleft-and-DMCA_0029-2">
 </a>
 <p>
  Given a system of software copyright, software development is
usually linked with the existence of an owner who controls the
software’s use. As long as this linkage exists, we are often faced with
the choice of proprietary software or none. However, this linkage is
not inherent or inevitable; it is a consequence of the specific
social/legal policy decision that we are questioning: the decision to
have owners. To formulate the choice as between proprietary software
versus no software is begging the question.
  <a name="index-ownership_002c-arguments-for-3">
  </a>
 </p>
 <a name="The-Argument-against-Having-Owners">
 </a>
 <h3 class="subheading">
  The Argument against Having Owners
 </h3>
 <a name="index-ownership_002c-argument-against">
 </a>
 <p>
  The question at hand is, “Should development of software be linked
with having owners to restrict the use of it?”
 </p>
 <p>
  In order to decide this, we have to judge the effect on society of
each of those two activities
  <em>
   independently
  </em>
  : the effect of developing
the software (regardless of its terms of distribution), and the effect
of restricting its use (assuming the software has been developed). If
one of these activities is helpful and the other is harmful, we would be
better off dropping the linkage and doing only the helpful one.
 </p>
 <p>
  To put it another way, if restricting the distribution of a program
already developed is harmful to society overall, then an ethical
software developer will reject the option of doing so.
 </p>
 <p>
  To determine the effect of restricting sharing, we need to compare
the value to society of a restricted (i.e., proprietary) program with
that of the same program, available to everyone. This means comparing
two possible worlds.
 </p>
 <p>
  This analysis also addresses the simple counterargument sometimes
made that “the benefit to the neighbor of giving him or her a
copy of a program is cancelled by the harm done to the owner.”
This counterargument assumes that the harm and the benefit are equal
in magnitude. The analysis involves comparing these magnitudes, and
shows that the benefit is much greater.
 </p>
 <p>
  To elucidate this argument, let’s apply it in another area: road
construction.
 </p>
 <p>
  It would be possible to fund the construction of all roads with
tolls. This would entail having toll booths at all street corners.
Such a system would provide a great incentive to improve roads. It
would also have the virtue of causing the users of any given road to
pay for that road. However, a toll booth is an artificial obstruction
to smooth driving—artificial, because it is not a consequence of
how roads or cars work.
 </p>
 <p>
  Comparing free roads and toll roads by their usefulness, we find that
(all else being equal) roads without toll booths are cheaper to
construct, cheaper to run, safer, and more efficient to
use.
  <a href="#FOOT24" name="DOCF24">
   (24)
  </a>
  In a poor country, tolls may make the roads unavailable to
many citizens. The roads without toll booths thus offer more benefit
to society at less cost; they are preferable for society. Therefore,
society should choose to fund roads in another way, not by means of
toll booths. Use of roads, once built, should be free.
 </p>
 <p>
  When the advocates of toll booths propose them as
  <em>
   merely
  </em>
  a
way of raising funds, they distort the choice that is available. Toll
booths do raise funds, but they do something else as well: in effect,
they degrade the road. The toll road is not as good as the free road;
giving us more or technically superior roads may not be an improvement
if this means substituting toll roads for free roads.
 </p>
 <p>
  Of course, the construction of a free road does cost money, which the
public must somehow pay. However, this does not imply the inevitability
of toll booths. We who must in either case pay will get more value for
our money by buying a free road.
 </p>
 <p>
  I am not saying that a toll road is worse than no road at all.
That would be true if the toll were so great that hardly anyone used
the road—but this is an unlikely policy for a toll collector.
However, as long as the toll booths cause significant waste and
inconvenience, it is better to raise the funds in a less obstructive
fashion.
 </p>
 <p>
  To apply the same argument to software development, I will now show
that having “toll booths” for useful software programs
costs society dearly: it makes the programs more expensive to
construct, more expensive to distribute, and less satisfying and
efficient to use. It will follow that program construction should be
encouraged in some other way. Then I will go on to explain other
methods of encouraging and (to the extent actually necessary) funding
software development.
  <a name="index-ownership_002c-argument-against-1">
  </a>
 </p>
 <a name="The-Harm-Done-by-Obstructing-Software">
 </a>
 <h4 class="subsubheading">
  The Harm Done by Obstructing Software
 </h4>
 <a name="index-ownership_002c-obstructing-software">
 </a>
 <p>
  Consider for a moment that a program has been developed, and any
necessary payments for its development have been made; now society must
choose either to make it proprietary or allow free sharing and use.
Assume that the existence of the program and its availability is a
desirable thing.
  <a href="#FOOT25" name="DOCF25">
   (25)
  </a>
 </p>
 <p>
  Restrictions on the distribution and modification of the program
cannot facilitate its use. They can only interfere. So the effect can
only be negative. But how much? And what kind?
 </p>
 <a name="index-users_002c-material-harm-to">
 </a>
 <p>
  Three different levels of material harm come from such obstruction:
 </p>
 <ul>
  <li>
   Fewer people use the program.
  </li>
  <li>
   None of the users can adapt or fix the program.
  </li>
  <li>
   Other developers cannot learn from the program, or base new work on it.
  </li>
 </ul>
 <a name="index-users_002c-psychosocial-harm-to">
 </a>
 <p>
  Each level of material harm has a concomitant form of psychosocial
harm. This refers to the effect that people’s decisions have on their
subsequent feelings, attitudes, and predispositions. These changes in
people’s ways of thinking will then have a further effect on their
relationships with their fellow citizens, and can have material
consequences.
 </p>
 <p>
  The three levels of material harm waste part of the value that the
program could contribute, but they cannot reduce it to zero. If they
waste nearly all the value of the program, then writing the program
harms society by at most the effort that went into writing the program.
Arguably a program that is profitable to sell must provide some net
direct material benefit.
 </p>
 <p>
  However, taking account of the concomitant psychosocial harm, there
is no limit to the harm that proprietary software development can do.
  <a name="index-ownership_002c-obstructing-software-1">
  </a>
 </p>
 <a name="Obstructing-Use-of-Programs">
 </a>
 <h4 class="subsubheading">
  Obstructing Use of Programs
 </h4>
 <a name="index-ownership_002c-and-material-harm">
 </a>
 <a name="index-ownership_002c-obstructing-use-of-programs">
 </a>
 <p>
  The first level of harm impedes the simple use of a program. A copy
of a program has nearly zero marginal cost (and you can pay this cost by
doing the work yourself), so in a free market, it would have nearly zero
price. A license fee is a significant disincentive to use the program.
If a widely useful program is proprietary, far fewer people will use it.
 </p>
 <p>
  It is easy to show that the total contribution of a program to
society is reduced by assigning an owner to it. Each potential user of
the program, faced with the need to pay to use it, may choose to pay,
or may forego use of the program. When a user chooses to pay, this is a
zero-sum transfer of wealth between two parties. But each time someone
chooses to forego use of the program, this harms that person without
benefiting anyone. The sum of negative numbers and zeros must be
negative.
 </p>
 <p>
  But this does not reduce the amount of work it takes to
  <em>
   develop
  </em>
  the program. As a result, the efficiency of the whole process, in
delivered user satisfaction per hour of work, is reduced.
 </p>
 <p>
  This reflects a crucial difference between copies of programs and
cars, chairs, or sandwiches. There is no copying machine for material
objects outside of science fiction. But programs are easy to copy;
anyone can produce as many copies as are wanted, with very little
effort. This isn’t true for material objects because matter is
conserved: each new copy has to be built from raw materials in the same
way that the first copy was built.
 </p>
 <p>
  With material objects, a disincentive to use them makes sense,
because fewer objects bought means less raw material and work needed
to make them. It’s true that there is usually also a startup cost, a
development cost, which is spread over the production run. But as long
as the marginal cost of production is significant, adding a share of the
development cost does not make a qualitative difference. And it does
not require restrictions on the freedom of ordinary users.
 </p>
 <p>
  However, imposing a price on something that would otherwise be free
is a qualitative change. A centrally imposed fee for software
distribution becomes a powerful disincentive.
 </p>
 <p>
  What’s more, central production as now practiced is inefficient even
as a means of delivering copies of software. This system involves
enclosing physical disks or tapes in superfluous packaging, shipping
large numbers of them around the world, and storing them for sale. This
cost is presented as an expense of doing business; in truth, it is part
of the waste caused by having owners.
  <a name="index-ownership_002c-and-material-harm-1">
  </a>
  <a name="index-ownership_002c-obstructing-use-of-programs-1">
  </a>
 </p>
 <a name="Damaging-Social-Cohesion">
 </a>
 <h4 class="subsubheading">
  Damaging Social Cohesion
 </h4>
 <a name="index-programmers_002c-and-cognitive-dissonance">
 </a>
 <a name="index-ownership_002c-and-damage-to-social-cohesion-1">
 </a>
 <a name="index-citizen-values_002c-cooperation-2">
 </a>
 <p>
  Suppose that both you and your neighbor would find it useful to run a
certain program. In ethical concern for your neighbor, you should feel
that proper handling of the situation will enable both of you to use it.
A proposal to permit only one of you to use the program, while
restraining the other, is divisive; neither you nor your neighbor should
find it acceptable.
 </p>
 <p>
  Signing a typical software license agreement means betraying your
neighbor: “I promise to deprive my neighbor of this program so
that I can have a copy for myself.” People who make such choices
feel internal psychological pressure to justify them, by downgrading
the importance of helping one’s neighbors—thus public spirit
suffers. This is psychosocial harm associated with the material harm
of discouraging use of the program.
 </p>
 <p>
  Many users unconsciously recognize the wrong of refusing to share, so
they decide to ignore the licenses and laws, and share programs anyway.
But they often feel guilty about doing so. They know that they must
break the laws in order to be good neighbors, but they still consider
the laws authoritative, and they conclude that being a good neighbor
(which they are) is naughty or shameful. That is also a kind of
psychosocial harm, but one can escape it by deciding that these licenses
and laws have no moral force.
 </p>
 <p>
  Programmers also suffer psychosocial harm knowing that many users
will not be allowed to use their work. This leads to an attitude of
cynicism or denial. A programmer may describe enthusiastically the
work that he finds technically exciting; then when asked, “Will I be
permitted to use it?” his face falls, and he admits the answer is no. 
To avoid feeling discouraged, he either ignores this fact most of the
time or adopts a cynical stance designed to minimize the importance of
it.
 </p>
 <p>
  Since the age of Reagan, the greatest scarcity in the United States
is not technical innovation, but rather the willingness to work together
for the public good. It makes no sense to encourage the former at the
expense of the latter.
  <a name="index-programmers_002c-and-cognitive-dissonance-1">
  </a>
  <a name="index-ownership_002c-and-damage-to-social-cohesion-2">
  </a>
  <a name="index-citizen-values_002c-cooperation-3">
  </a>
 </p>
 <a name="Obstructing-Custom-Adaptation-of-Programs">
 </a>
 <h4 class="subsubheading">
  Obstructing Custom Adaptation of Programs
 </h4>
 <a name="index-ownership_002c-and-material-harm-2">
 </a>
 <p>
  The second level of material harm is the inability to adapt programs.
The ease of modification of software is one of its great advantages over
older technology. But most commercially available software isn’t
available for modification, even after you buy it. It’s available for
you to take it or leave it, as a black box—that is all.
 </p>
 <p>
  A program that you can run consists of a series of numbers whose
meaning is obscure. No one, not even a good programmer, can easily
change the numbers to make the program do something different.
 </p>
 <p>
  Programmers normally work with the “source code” for a
program, which is written in a programming language such as
  <a name="index-Fortran">
  </a>
  Fortran or
  <a name="index-C-1">
  </a>
  C. It uses names to designate the data being used and the parts of
the program, and it represents operations with symbols such as
‘+’ for addition and ‘-’ for subtraction. It
is designed to help programmers read and change programs. Here is an
example; a program to calculate the distance between two points in a
plane:
 </p>
 <table>
  <tr>
   <td>
   </td>
   <td>
    <pre class="smallexample">     float
     distance (p0, p1)
          struct point p0, p1;
     {
       float xdist = p1.x - p0.x;
       float ydist = p1.y - p0.y;
       return sqrt (xdist * xdist + ydist * ydist);
     }
</pre>
   </td>
  </tr>
 </table>
 <p>
  Precisely what that source code means is not the point; the point is
that it looks like algebra, and a person who knows this programming
language will find it meaningful and clear. By contrast, here is same
program in executable form, on the computer I normally used when I
wrote this:
 </p>
 <table>
  <tr>
   <td>
   </td>
   <td>
    <pre class="smallexample">     1314258944      -232267772      -231844864      1634862
     1411907592      -231844736      2159150         1420296208
     -234880989      -234879837      -234879966      -232295424
     1644167167      -3214848        1090581031      1962942495
     572518958       -803143692      1314803317
</pre>
   </td>
  </tr>
 </table>
 <p>
  Source code is useful (at least potentially) to every user of a
program. But most users are not allowed to have copies of the source
code. Usually the source code for a proprietary program is kept secret
by the owner, lest anybody else learn something from it. Users receive
only the files of incomprehensible numbers that the computer will
execute. This means that only the program’s owner can change the
program.
 </p>
 <a name="index-programmers_002c-psychosocial-harm-to-1">
 </a>
 <a name="index-development_002c-custom-adaptation">
 </a>
 <p>
  A friend once told me of working as a programmer in a bank for
about six months, writing a program similar to something that was
commercially available. She believed that if she could have gotten
source code for that commercially available program, it could easily
have been adapted to their needs. The bank was willing to pay for
this, but was not permitted to—the source code was a secret. So
she had to do six months of make-work, work that counts in the GNP but
was actually waste.
 </p>
 <a name="index-MIT_002c-AI-_0028Artificial-Intelligence_0029-Lab-4">
 </a>
 <p>
  The MIT Artificial Intelligence Lab (AI Lab) received a graphics printer as a
gift from
  <a name="index-Xerox">
  </a>
  Xerox around 1977. It was run by free software to which we
added many convenient features. For example, the software would
notify a user immediately on completion of a print job. Whenever the
printer had trouble, such as a paper jam or running out of paper, the
software would immediately notify all users who had print jobs
queued. These features facilitated smooth operation.
 </p>
 <p>
  Later Xerox gave the AI Lab a newer, faster printer, one of the first
laser printers. It was driven by proprietary software that ran in a
separate dedicated computer, so we couldn’t add any of our favorite
features. We could arrange to send a notification when a print job was
sent to the dedicated computer, but not when the job was actually
printed (and the delay was usually considerable). There was no way to
find out when the job was actually printed; you could only guess. And
no one was informed when there was a paper jam, so the printer often
went for an hour without being fixed.
 </p>
 <p>
  The system programmers at the AI Lab were capable of fixing such
problems, probably as capable as the original authors of the program.
Xerox was uninterested in fixing them, and chose to prevent us, so we
were forced to accept the problems. They were never fixed.
 </p>
 <p>
  Most good programmers have experienced this frustration. The bank
could afford to solve the problem by writing a new program from
scratch, but a typical user, no matter how skilled, can only give up.
 </p>
 <p>
  Giving up causes psychosocial harm—to the spirit of
self-reliance. It is demoralizing to live in a house that you cannot
rearrange to suit your needs. It leads to resignation and
discouragement, which can spread to affect other aspects of one’s
life. People who feel this way are unhappy and do not do good
work.
 </p>
 <p>
  Imagine what it would be like if recipes were hoarded in the same
fashion as software. You might say, “How do I change this
recipe to take out the salt?” and the great chef would respond,
“How dare you insult my recipe, the child of my brain and my
palate, by trying to tamper with it? You don’t have the judgment to
change my recipe and make it work right!”
 </p>
 <p>
  “But my doctor says I’m not supposed to eat salt! What can I
do? Will you take out the salt for me?”
 </p>
 <p>
  “I would be glad to do that; my fee is only $50,000.”
Since the owner has a monopoly on changes, the fee tends to be large.
“However, right now I don’t have time. I am busy with a
commission to design a new recipe for ship’s biscuit for the Navy
Department. I might get around to you in about two years.”
  <a name="index-development_002c-custom-adaptation-1">
  </a>
 </p>
 <a name="Obstructing-Software-Development">
 </a>
 <h4 class="subsubheading">
  Obstructing Software Development
 </h4>
 <a name="index-development_002c-obstruction-of">
 </a>
 <p>
  The third level of material harm affects software development.
Software development used to be an evolutionary process, where a
person would take an existing program and rewrite parts of it for one
new feature, and then another person would rewrite parts to add
another feature; in some cases, this continued over a period of 20
years. Meanwhile, parts of the program would be
“cannibalized” to form the beginnings of other
programs.
 </p>
 <p>
  The existence of owners prevents this kind of evolution, making it
necessary to start from scratch when developing a program. It also
prevents new practitioners from studying existing programs to learn
useful techniques or even how large programs can be structured.
 </p>
 <p>
  Owners also obstruct education. I have met bright students in
computer science who have never seen the source code of a large
program. They may be good at writing small programs, but they can’t
begin to learn the different skills of writing large ones if they can’t
see how others have done it.
 </p>
 <p>
  In any intellectual field, one can reach greater heights by
standing on the shoulders of others. But that is no longer generally
allowed in the software field—you can only stand on the
shoulders of the other people
  <em>
   in your own company.
  </em>
 </p>
 <p>
  The associated psychosocial harm affects the spirit of scientific
cooperation, which used to be so strong that scientists would cooperate
even when their countries were at war. In this spirit, Japanese
oceanographers abandoning their lab on an island in the Pacific
carefully preserved their work for the invading U.S. Marines, and left a
note asking them to take good care of it.
 </p>
 <p>
  Conflict for profit has destroyed what international conflict spared.
Nowadays scientists in many fields don’t publish enough in their papers
to enable others to replicate the experiment. They publish only enough
to let readers marvel at how much they were able to do. This is
certainly true in computer science, where the source code for the
programs reported on is usually secret.
  <a name="index-ownership_002c-and-material-harm-3">
  </a>
 </p>
 <a name="It-Does-Not-Matter-How-Sharing-Is-Restricted">
 </a>
 <h4 class="subsubheading">
  It Does Not Matter How Sharing Is Restricted
 </h4>
 <a name="index-copyright-_0028see-also-both-copyleft-and-DMCA_0029-3">
 </a>
 <p>
  I have been discussing the effects of preventing people from copying,
changing, and building on a program. I have not specified how this
obstruction is carried out, because that doesn’t affect the
conclusion. Whether it is done by copy protection, or copyright, or
licenses, or encryption, or ROM cards, or hardware serial numbers, if
it
  <em>
   succeeds
  </em>
  in preventing use, it does harm.
 </p>
 <p>
  Users do consider some of these methods more obnoxious than others. 
I suggest that the methods most hated are those that accomplish their
objective.
 </p>
 <a name="Software-Should-Be-Free">
 </a>
 <h4 class="subsubheading">
  Software Should Be Free
 </h4>
 <a name="index-programmers_002c-psychosocial-harm-to-2">
 </a>
 <p>
  I have shown how ownership of a program—the power to restrict
changing or copying it—is obstructive. Its negative effects are
widespread and important. It follows that society shouldn’t have
owners for programs.
 </p>
 <p>
  Another way to understand this is that what society needs is free
software, and proprietary software is a poor substitute. Encouraging
the substitute is not a rational way to get what we need.
 </p>
 <a name="index-Havel_002c-Vaclav">
 </a>
 <p>
  Vaclav Havel has advised us to “Work for something because it is
good, not just because it stands a chance to succeed.” A business
making proprietary software stands a chance of success in its own narrow
terms, but it is not what is good for society.
 </p>
 <a name="Why-People-Will-Develop-Software">
 </a>
 <h3 class="subheading">
  Why People Will Develop Software
 </h3>
 <a name="index-programmers_002c-incentive-for-3">
 </a>
 <p>
  If we eliminate copyright as a means of encouraging
people to develop software, at first less software will be developed,
but that software will be more useful. It is not clear whether the
overall delivered user satisfaction will be less; but if it is, or if
we wish to increase it anyway, there are other ways to encourage
development, just as there are ways besides toll booths to raise money
for streets. Before I talk about how that can be done, first I want to
question how much artificial encouragement is truly necessary.
  <a name="index-copyright-_0028see-also-both-copyleft-and-DMCA_0029-4">
  </a>
  <a name="index-development_002c-obstruction-of-1">
  </a>
 </p>
 <a name="Programming-Is-Fun">
 </a>
 <h4 class="subsubheading">
  Programming Is Fun
 </h4>
 <p>
  There are some lines of work that few will enter except for money;
road construction, for example. There are other fields of study and
art in which there is little chance to become rich, which people enter
for their fascination or their perceived value to society. Examples
include mathematical logic, classical music, and archaeology; and
political organizing among working people. People compete, more sadly
than bitterly, for the few funded positions available, none of which is
funded very well. They may even pay for the chance to work in the
field, if they can afford to.
 </p>
 <p>
  Such a field can transform itself overnight if it begins to offer the
possibility of getting rich. When one worker gets rich, others demand
the same opportunity. Soon all may demand large sums of money for doing
what they used to do for pleasure. When another couple of years go by,
everyone connected with the field will deride the idea that work would
be done in the field without large financial returns. They will advise
social planners to ensure that these returns are possible, prescribing
special privileges, powers, and monopolies as necessary to do so.
 </p>
 <p>
  This change happened in the field of computer programming in the
1980s. In the 1970s, there were articles on
“computer addiction”: users were “onlining”
and had hundred-dollar-a-week habits. It was generally understood
that people frequently loved programming enough to break up their
marriages. Today, it is generally understood that no one would
program except for a high rate of pay. People have forgotten what they
knew back then.
 </p>
 <p>
  When it is true at a given time that most people will work in a
certain field only for high pay, it need not remain true. The dynamic
of change can run in reverse, if society provides an impetus. If we
take away the possibility of great wealth, then after a while, when the
people have readjusted their attitudes, they will once again be eager
to work in the field for the joy of accomplishment.
 </p>
 <p>
  The question “How can we pay programmers?” becomes an
easier question when we realize that it’s not a matter of paying them
a fortune. A mere living is easier to raise.
  <a name="index-programmers_002c-incentive-for-4">
  </a>
 </p>
 <a name="Funding-Free-Software">
 </a>
 <h4 class="subsubheading">
  Funding Free Software
 </h4>
 <a name="index-development_002c-funding-for-4">
 </a>
 <a name="index-programmers_002c-income-for-8">
 </a>
 <p>
  Institutions that pay programmers do not have to be software houses.
Many other institutions already exist that can do this.
 </p>
 <p>
  Hardware manufacturers find it essential to support software
development even if they cannot control the use of the software. In
1970, much of their software was free because they did not consider
restricting it. Today, their increasing willingness to join consortiums
shows their realization that owning the software is not what is really
important for them.
 </p>
 <a name="index-universities">
 </a>
 <p>
  Universities conduct many programming projects. Today they often
sell the results, but in the 1970s they did not. Is there any doubt
that universities would develop free software if they were not allowed
to sell software? These projects could be supported by the same
government contracts and grants that now support proprietary software
development.
 </p>
 <p>
  It is common today for university researchers to get grants to
develop a system, develop it nearly to the point of completion and
call that “finished,” and then start companies where they
really finish the project and make it usable. Sometimes they declare
the unfinished version “free”; if they are thoroughly
corrupt, they instead get an exclusive license from the university.
This is not a secret; it is openly admitted by everyone concerned.
Yet if the researchers were not exposed to the temptation to do these
things, they would still do their research.
 </p>
 <a name="index-selling_002c-software_002drelated-services">
 </a>
 <p>
  Programmers writing free software can make their living by selling
services related to the software. I have been hired to port the
  <a name="index-GNU_002c-GNU-C-compiler-_0028see-also-GNU_002c-GCC_0029-3">
  </a>
  GNU C compiler to new hardware, and
to make user-interface extensions to GNU
  <a name="index-Emacs_002c-GNU-5">
  </a>
  <a name="index-GNU_002c-GNU-Emacs-5">
  </a>
  Emacs. (I offer these improvements
to the public once they are done.) I also teach classes for which I
am paid.
 </p>
 <p>
  I am not alone in working this way; there is now a successful,
growing corporation which does no other kind of work. Several other
companies also provide commercial support for the free software of the
GNU system. This is the beginning of the independent software support
industry—an industry that could become quite large if free
software becomes prevalent. It provides users with an option
generally unavailable for proprietary software, except to the very
wealthy.
 </p>
 <a name="index-FSF_002c-how-you-can-help-1">
 </a>
 <a name="index-FSF_002c-programmers">
 </a>
 <p>
  Institutions such as the Free Software Foundation can also fund
programmers. Most of the Foundation’s funds come from users buying
tapes through the mail. The software on the tapes is free, which means
that every user has the freedom to copy it and change it, but many
nonetheless pay to get copies. (Recall that “free software” refers
to freedom, not to price.) Some users who already have a copy order
tapes as a way of making a contribution they feel we deserve. The
Foundation also receives sizable donations from computer
manufacturers.
 </p>
 <p>
  The Free Software Foundation is a charity, and its income is spent on
hiring as many programmers as possible. If it had been set up as a
business, distributing the same free software to the public for the same
fee, it would now provide a very good living for its founder.
 </p>
 <a name="index-programmers_002c-incentive-for-5">
 </a>
 <p>
  Because the Foundation is a charity, programmers often work for the
Foundation for half of what they could make elsewhere. They do this
because we are free of bureaucracy, and because they feel satisfaction
in knowing that their work will not be obstructed from use. Most of
all, they do it because programming is fun. In addition, volunteers
have written many useful programs for us. (Even technical writers
have begun to volunteer.)
  <a name="index-FSF_002c-how-you-can-help-2">
  </a>
  <a name="index-FSF_002c-programmers-1">
  </a>
 </p>
 <p>
  This confirms that programming is among the most fascinating of all
fields, along with music and art. We don’t have to fear that no one
will want to program.
  <a name="index-programmers_002c-income-for-9">
  </a>
  <a name="index-development_002c-funding-for-5">
  </a>
 </p>
 <a name="What-Do-Users-Owe-to-Developers_003f">
 </a>
 <h4 class="subsubheading">
  What Do Users Owe to Developers?
 </h4>
 <a name="index-developers_002c-obligations-of-users-to">
 </a>
 <a name="index-developers_002c-and-creativity-and-entitlement">
 </a>
 <a name="index-users_002c-obligations-to-developers">
 </a>
 <p>
  There is a good reason for users of software to feel a moral
obligation to contribute to its support. Developers of free software
are contributing to the users’ activities, and it is both fair and in
the long-term interest of the users to give them funds to continue.
 </p>
 <p>
  However, this does not apply to proprietary software developers,
since obstructionism deserves a punishment rather than a reward.
 </p>
 <p>
  We thus have a paradox: the developer of useful software is entitled
to the support of the users, but any attempt to turn this moral
obligation into a requirement destroys the basis for the obligation. A
developer can either deserve a reward or demand it, but not both.
 </p>
 <p>
  I believe that an ethical developer faced with this paradox must act
so as to deserve the reward, but should also entreat the users for
voluntary donations. Eventually the users will learn to support
developers without coercion, just as they have learned to support public
radio and television stations.
 </p>
 <a name="What-Is-Software-Productivity_003f">
 </a>
 <h3 class="subheading">
  What Is Software Productivity?
 </h3>
 <a name="index-programmers_002c-and-productivity">
 </a>
 <a name="index-productivity_002c-software">
 </a>
 <a name="index-software_002c-software-productivity">
 </a>
 <p>
  If software were free, there would still be programmers, but perhaps
fewer of them. Would this be bad for society?
 </p>
 <p>
  Not necessarily. Today the advanced nations have fewer farmers than
in 1900, but we do not think this is bad for society, because the few
deliver more food to the consumers than the many used to do. We call
this improved productivity. Free software would require far fewer
programmers to satisfy the demand, because of increased software
productivity at all levels:
 </p>
 <ul>
  <li>
   Wider use of each program that is developed.
  </li>
  <li>
   The ability to adapt existing programs for customization instead of starting from scratch.
  </li>
  <li>
   Better education of programmers.
  </li>
  <li>
   The elimination of duplicate development effort.
  </li>
 </ul>
 <p>
  Those who object to cooperation claiming it would result in the
employment of fewer programmers are actually objecting to increased
productivity. Yet these people usually accept the widely held belief
that the software industry needs increased productivity. How is
this?
 </p>
 <p>
  “Software productivity” can mean two different things: the overall
productivity of all software development, or the productivity of
individual projects. Overall productivity is what society would like
to improve, and the most straightforward way to do this is to
eliminate the artificial obstacles to cooperation which reduce it. But
researchers who study the field of “software productivity” focus
only on the second, limited, sense of the term, where improvement
requires difficult technological advances.
  <a name="index-productivity_002c-software-1">
  </a>
  <a name="index-programmers_002c-and-productivity-1">
  </a>
  <a name="index-software_002c-software-productivity-1">
  </a>
 </p>
 <a name="Is-Competition-Inevitable_003f">
 </a>
 <h3 class="subheading">
  Is Competition Inevitable?
 </h3>
 <a name="index-competition_002c-inevitability-of">
 </a>
 <p>
  Is it inevitable that people will try to compete, to surpass their
rivals in society? Perhaps it is. But competition itself is not
harmful; the harmful thing is
  <em>
   combat.
  </em>
 </p>
 <p>
  There are many ways to compete. Competition can consist of trying
to achieve ever more, to outdo what others have done. For example, in
the old days, there was competition among programming
wizards—competition for who could make the computer do the most
amazing thing, or for who could make the shortest or fastest program
for a given task. This kind of competition can benefit
everyone,
  <em>
   as long as
  </em>
  the spirit of good sportsmanship is
maintained.
 </p>
 <p>
  Constructive competition is enough competition to motivate people to
great efforts. A number of people are competing to be the first to have
visited all the countries on Earth; some even spend fortunes trying to
do this. But they do not bribe ship captains to strand their rivals on
desert islands. They are content to let the best person win.
 </p>
 <a name="index-citizen-values_002c-proprietary-software-and-1">
 </a>
 <p>
  Competition becomes combat when the competitors begin trying to
impede each other instead of advancing themselves—when
“Let the best person win” gives way to “Let me win,
best or not.” Proprietary software is harmful, not because it is
a form of competition, but because it is a form of combat among the
citizens of our society.
 </p>
 <p>
  Competition in business is not necessarily combat. For example, when
two grocery stores compete, their entire effort is to improve their own
operations, not to sabotage the rival. But this does not demonstrate a
special commitment to business ethics; rather, there is little scope for
combat in this line of business short of physical violence. Not all
areas of business share this characteristic. Withholding information
that could help everyone advance is a form of combat.
 </p>
 <p>
  Business ideology does not prepare people to resist the temptation to
combat the competition. Some forms of combat have been banned with
antitrust laws, truth in advertising laws, and so on, but rather than
generalizing this to a principled rejection of combat in general,
executives invent other forms of combat which are not specifically
prohibited. Society’s resources are squandered on the economic
equivalent of factional civil war.
 </p>
 <a name="g_t_0060_0060Why-Don_0027t-You-Move-to-Russia_003f_0027_0027">
 </a>
 <h3 class="subheading">
  “Why Don’t You Move to Russia?”
 </h3>
 <a name="index-Russia">
 </a>
 <a name="index-communism">
 </a>
 <a name="index-ownership_002c-fallacy-of-charge-of-communism">
 </a>
 <p>
  In the United States, any advocate of other than the most extreme
form of laissez-faire selfishness has often heard this accusation. For
example, it is leveled against the supporters of a national health care
system, such as is found in all the other industrialized nations of the
free world. It is leveled against the advocates of public support for
the arts, also universal in advanced nations. The idea that citizens
have any obligation to the public good is identified in America with
Communism. But how similar are these ideas?
 </p>
 <p>
  Communism as was practiced in the
  <a name="index-Soviet-Union-1">
  </a>
  Soviet Union was a system of
central control where all activity was regimented, supposedly for the
common good, but actually for the sake of the members of the Communist
party. And where copying equipment was closely guarded to prevent
illegal copying.
 </p>
 <a name="index-copyright-_0028see-also-both-copyleft-and-DMCA_0029-5">
 </a>
 <p>
  The American system of software copyright exercises central control
over distribution of a program, and guards copying equipment with
automatic copying-protection schemes to prevent illegal copying.
 </p>
 <p>
  By contrast, I am working to build a system where people are free
to decide their own actions; in particular, free to help their
neighbors, and free to alter and improve the tools which they use in
their daily lives. A system based on voluntary cooperation and on
decentralization.
 </p>
 <p>
  Thus, if we are to judge views by their resemblance to Russian
Communism, it is the software owners who are the Communists.
 </p>
 <a name="The-Question-of-Premises">
 </a>
 <h3 class="subheading">
  The Question of Premises
 </h3>
 <a name="index-users_002c-premise-of-author-supremacy-_0028see-also-ownership_0029-2">
 </a>
 <a name="index-Constitution_002c-premise-of-author-supremacy-and-US">
 </a>
 <p>
  I make the assumption in this paper that a user of software is no
less important than an author, or even an author’s employer. In other
words, their interests and needs have equal weight, when we decide
which course of action is best.
 </p>
 <p>
  This premise is not universally accepted. Many maintain that an
author’s employer is fundamentally more important than anyone else.
They say, for example, that the purpose of having owners of software
is to give the author’s employer the advantage he
deserves—regardless of how this may affect the public.
 </p>
 <p>
  It is no use trying to prove or disprove these premises. Proof
requires shared premises. So most of what I have to say is addressed
only to those who share the premises I use, or at least are interested
in what their consequences are. For those who believe that the owners
are more important than everyone else, this paper is simply irrelevant.
 </p>
 <p>
  But why would a large number of Americans accept a premise that
elevates certain people in importance above everyone else? Partly
because of the belief that this premise is part of the legal traditions
of American society. Some people feel that doubting the premise means
challenging the basis of society.
 </p>
 <p>
  It is important for these people to know that this premise is not
part of our legal tradition. It never has been.
 </p>
 <p>
  Thus, the Constitution says that the purpose of copyright is to
“promote the Progress of Science and the useful Arts.” The Supreme
Court has elaborated on this, stating in
  <cite>
   Fox Film
v. Doyal
  </cite>
  <a href="#FOOT26" name="DOCF26">
   (26)
  </a>
  that
  <a name="index-copyright_002c-monopoly">
  </a>
  “The sole interest of the United States and the primary object
in conferring the [copyright] monopoly lie in the general benefits
derived by the public from the labors of authors.”
 </p>
 <p>
  We are not required to agree with the Constitution or the
  <a name="index-Supreme-Court_002c-US">
  </a>
  Supreme
Court. (At one time, they both condoned slavery.) So their positions
do not disprove the owner supremacy premise. But I hope that the
awareness that this is a radical right-wing assumption rather than a
traditionally recognized one will weaken its appeal.
  <a name="index-users_002c-premise-of-author-supremacy-_0028see-also-ownership_0029-3">
  </a>
  <a name="index-Constitution_002c-premise-of-author-supremacy-and-US-1">
  </a>
 </p>
 <a name="Conclusion">
 </a>
 <h3 class="subheading">
  Conclusion
 </h3>
 <a name="index-call-to-action_002c-cooperate">
 </a>
 <p>
  We like to think that our society encourages helping your neighbor;
but each time we reward someone for obstructionism, or admire them for
the wealth they have gained in this way, we are sending the opposite
message.
 </p>
 <a name="index-Reagan_002c-President-Ronald">
 </a>
 <a name="index-Cheney_002c-Dick">
 </a>
 <a name="index-Exxon">
 </a>
 <a name="index-Enron">
 </a>
 <p>
  Software hoarding is one form of our general willingness to disregard
the welfare of society for personal gain. We can trace this disregard
from Ronald Reagan to Dick Cheney, from Exxon to Enron, from
failing banks to failing schools. We can measure it with the size of
the homeless population and the prison population. The antisocial
spirit feeds on itself, because the more we see that other people will
not help us, the more it seems futile to help them. Thus society decays
into a jungle.
 </p>
 <a name="index-citizen-values_002c-cooperation-4">
 </a>
 <p>
  If we don’t want to live in a jungle, we must change our
attitudes. We must start sending the message that a good citizen is
one who cooperates when appropriate, not one who is successful at
taking from others. I hope that the free software movement will
contribute to this: at least in one area, we will replace the jungle
with a more efficient system which encourages and runs on voluntary
cooperation.
 </p>
 <div class="footnote">
  <hr>
   <h3>
    Footnotes
   </h3>
   <h3>
    <a href="#DOCF23" name="FOOT23">
     (23)
    </a>
   </h3>
   <p>
    The word “free” in “free software” refers to freedom, not to price; the price paid for a copy of a free
program may be zero, or small, or (rarely) quite large.
   </p>
   <h3>
    <a href="#DOCF24" name="FOOT24">
     (24)
    </a>
   </h3>
   <p>
    The issues of pollution and traffic congestion do not
alter this conclusion. If we wish to make driving more expensive to
discourage driving in general, it is disadvantageous to do this using
toll booths, which contribute to both pollution and congestion. A tax
on gasoline is much better. Likewise, a desire to enhance safety by
limiting maximum speed is not relevant; a free-access road enhances
the average speed by avoiding stops and delays, for any given speed
limit.
   </p>
   <h3>
    <a href="#DOCF25" name="FOOT25">
     (25)
    </a>
   </h3>
   <p>
    One might regard a particular computer program as a harmful thing that should not be available at all, like the
    <a name="index-Lotus-Marketplace">
    </a>
    Lotus Marketplace database of personal information, which was withdrawn from sale due to public disapproval. Most of what I say does not apply to this case, but it makes little sense to argue for having an owner on the grounds that the owner will make the program less available. The owner will not make it
    <em>
     completely
    </em>
    unavailable, as one would wish in the case of a program whose use is considered destructive.
   </p>
   <h3>
    <a href="#DOCF26" name="FOOT26">
     (26)
    </a>
   </h3>
   <a name="index-Fox-Film-Corp_002e-v_002e-Doyal">
   </a>
   <p>
    <cite>
     Fox Film Corp. v. Doyal,
    </cite>
    286 US 123, 1932.
   </p>
  </hr>
 </div>
 <hr size="2"/>

