<!-- This is the second edition of Free Software, Free Society: Selected Essays of Richard M. Stallman.

Free Software Foundation

51 Franklin Street, Fifth Floor

Boston, MA 02110-1335
Copyright C 2002, 2010 Free Software Foundation, Inc.
Verbatim copying and distribution of this entire book are permitted
worldwide, without royalty, in any medium, provided this notice is
preserved. Permission is granted to copy and distribute translations
of this book from the original English into another language provided
the translation has been approved by the Free Software Foundation and
the copyright notice and this permission notice are preserved on all
copies.

ISBN 978-0-9831592-0-9
Cover design by Rob Myers.

Cover photograph by Peter Hinely.
 -->


 <a name="The-Initial-Announcement-of-the-GNU-Operating-System">
 </a>
 <h1 class="chapter">
  3. The Initial Announcement of the GNU Operating System
 </h1>
 <p>
  This is the original announcement of the GNU Project, posted by
Richard Stallman on 27 September 1983.
 </p>
 <p>
  The actual history of the GNU Project differs in many ways from
this initial plan. For example, the beginning was delayed until
January 1984. Several of the philosophical concepts of free software
were not clarified until a few years later.
 </p>
 <a name="index-GNU_002c-initial-announcement">
 </a>
 <a name="index-MIT-1">
 </a>
 <a name="index-Unix-compatibility_002c-announcement-of">
 </a>
 <a name="index-RMS_002c-Richard-Stallman_002c-often-referred-to-as-_0028see-also-Stallman_0029">
 </a>
 <a name="index-GNU_002c-operating-system-parts-3">
 </a>
 <a name="index-Empire-game">
 </a>
 <a name="index-games_002c-Empire">
 </a>
 <a name="index-C-programs">
 </a>
 <a name="index-C-compiler">
 </a>
 <a name="index-yacc">
 </a>
 <p>
  <tt>
   From mit-vax!mit-eddie!RMS@MIT-OZ
   <br>
    From:
    <code>
     RMS%MIT-OZ@mit-eddie
    </code>
    <br>
     Newsgroups: net.unix-wizards,net.usoft
     <br>
      Subject: new Unix implementation
      <br>
       Date: Tue, 27-Sep-83 12:35:59 EST
       <br>
        Organization: MIT AI Lab, Cambridge, MA
       </br>
      </br>
     </br>
    </br>
   </br>
  </tt>
 </p>
 <p>
  Free Unix!
 </p>
 <p>
  Starting this Thanksgiving I am going to write a complete
Unix-compatible software system called GNU (for Gnu’s Not Unix), and
give it away free
  <a href="#FOOT11" name="DOCF11">
   (11)
  </a>
  to everyone who can use it.  Contributions of 
time, money, programs and equipment are greatly needed.
 </p>
 <p>
  To begin with, GNU will be a kernel plus all the utilities needed to
write and run C programs: editor, shell, C compiler, linker,
assembler, and a few other things. After this we will add a text
formatter, a YACC, an Empire game, a spreadsheet, and hundreds of
other things. We hope to supply, eventually, everything useful that
normally comes with a Unix system, and anything else useful, including
on-line and hardcopy documentation.
 </p>
 <a name="index-Chaosnet-_0028see-also-MIT_0029">
 </a>
 <a name="index-MIT_002c-Chaosnet">
 </a>
 <a name="index-UUCP">
 </a>
 <a name="index-Lisp_002c-programs">
 </a>
 <a name="index-Lisp_002c-Lisp_002dbased-window-system">
 </a>
 <a name="index-MIT_002c-Chaosnet-1">
 </a>
 <p>
  GNU will be able to run Unix programs, but will not be identical to
Unix. We will make all improvements that are convenient, based on our
experience with other operating systems. In particular, we plan to
have longer filenames, file version numbers, a crashproof file system,
filename completion perhaps, terminal-independent display support, and
eventually a Lisp-based window system through which several Lisp
programs and ordinary Unix programs can share a screen.  Both C and
Lisp will be available as system programming languages.  We will have
network software based on MIT’s chaosnet protocol, far superior to
UUCP. We may also have something compatible with UUCP.
 </p>
 <p>
  Who Am I?
 </p>
 <a name="index-Stallman_002c-Richard-1">
 </a>
 <a name="index-Emacs_002c-GNU-3">
 </a>
 <a name="index-GNU_002c-GNU-Emacs-3">
 </a>
 <a name="index-MIT_002c-AI-_0028Artificial-Intelligence_0029-Lab-2">
 </a>
 <a name="index-ITS-_0028Incompatible-Timesharing-System_0029-3">
 </a>
 <a name="index-Lisp_002c-Lisp-Machine-operating-system">
 </a>
 <p>
  I am Richard Stallman, inventor of the original much-imitated EMACS
editor, now at the Artificial Intelligence Lab at MIT. I have worked
extensively on compilers, editors, debuggers, command interpreters,
the Incompatible Timesharing System and the Lisp Machine operating
system.  I pioneered terminal-independent display support in ITS. In
addition I have implemented one crashproof file system and two window
systems for Lisp machines.
 </p>
 <p>
  Why I Must Write GNU
 </p>
 <a name="index-Golden-Rule">
 </a>
 <a name="index-citizen-values_002c-Golden-Rule">
 </a>
 <a name="index-nondisclosure-agreements-3">
 </a>
 <p>
  I consider that the golden rule requires that if I like a program I
must share it with other people who like it. I cannot in good
conscience sign a nondisclosure agreement or a software license
agreement.
 </p>
 <p>
  So that I can continue to use computers without violating my
principles, I have decided to put together a sufficient body of free
software so that I will be able to get along without any software that
is not free.
 </p>
 <p>
  How You Can Contribute
 </p>
 <a name="index-development_002c-contributions-and-donations-1">
 </a>
 <a name="index-call-to-action_002c-initial-announcement">
 </a>
 <p>
  I am asking computer manufacturers for donations of machines and
money.  I’m asking individuals for donations of programs and work.
 </p>
 <p>
  One computer manufacturer has already offered to provide a
machine. But we could use more. One consequence you can expect if you
donate machines is that GNU will run on them at an early date. The
machine had better be able to operate in a residential area, and not
require sophisticated cooling or power.
 </p>
 <a name="index-Unix-compatibility_002c-ease-of-contribution-because-of">
 </a>
 <p>
  Individual programmers can contribute by writing a compatible
duplicate of some Unix utility and giving it to me. For most projects,
such part-time distributed work would be very hard to coordinate; the
independently-written parts would not work together. But for the
particular task of replacing Unix, this problem is absent. Most
interface specifications are fixed by Unix compatibility. If each
contribution works with the rest of Unix, it will probably work with
the rest of GNU.
 </p>
 <p>
  If I get donations of money, I may be able to hire a few people full
or part time. The salary won’t be high, but I’m looking for people for
whom knowing they are helping humanity is as important as money. I
view this as a way of enabling dedicated people to devote their full
energies to working on GNU by sparing them the need to make a living
in another way.
 </p>
 <p>
  For more information, contact me.
  <br>
   Arpanet mail:
   <br>
    RMS@MIT-MC.ARPA
   </br>
  </br>
 </p>
 <p>
  Usenet:
  <br>
   ...!mit-eddie!RMS@OZ
  ...!mit-vax!RMS@OZ
   <a name="index-MIT-2">
   </a>
  </br>
 </p>
 <p>
  US Snail:
  <br>
   Richard Stallman
   <br>
    166 Prospect St
    <br>
     Cambridge, MA 02139
     <a name="index-GNU_002c-initial-announcement-1">
     </a>
     <a name="index-MIT-3">
     </a>
    </br>
   </br>
  </br>
 </p>
 <div class="footnote">
  <hr>
   <h3>
    Footnotes
   </h3>
   <h3>
    <a href="#DOCF11" name="FOOT11">
     (11)
    </a>
   </h3>
   <p>
    The wording here was careless. The
intention was that nobody would have to pay for
    <em>
     permission
    </em>
    to
use the GNU system. But the words don’t make this clear, and people
often interpret them as saying that copies of GNU should always be
distributed at little or no charge. That was never the intent.
   </p>
  </hr>
 </div>
 <hr size="2"/>

