<!-- This is the second edition of Free Software, Free Society: Selected Essays of Richard M. Stallman.

Free Software Foundation

51 Franklin Street, Fifth Floor

Boston, MA 02110-1335
Copyright C 2002, 2010 Free Software Foundation, Inc.
Verbatim copying and distribution of this entire book are permitted
worldwide, without royalty, in any medium, provided this notice is
preserved. Permission is granted to copy and distribute translations
of this book from the original English into another language provided
the translation has been approved by the Free Software Foundation and
the copyright notice and this permission notice are preserved on all
copies.

ISBN 978-0-9831592-0-9
Cover design by Rob Myers.

Cover photograph by Peter Hinely.
 -->


 <a name="The-Free-Software-Song">
 </a>
 <h1 class="chapter">
  11. The Free Software Song
 </h1>
 <div style="display:none">
  <p id="teaser">
   The lyrics of “The Free Software Song” are sung to the melody of the
    Bulgarian folk song “Sadi moma bela loza.”
  </p>
 </div>
 <a name="index-Stallman_002c-Richard-3">
 </a>
 <a name="index-_0060_0060Free-Software-Song_0027_0027">
 </a>
 <a name="index-_0060_0060Sadi-moma-bela-loza_0027_0027">
 </a>
 <a name="index-hackers-5">
 </a>
 <p>
  The lyrics of “The Free Software Song” are sung to the melody of the
Bulgarian folk song “Sadi moma bela loza.” To listen to a recording
of the piece accompanied by Bulgarian instruments played in
traditional style, please visit
  <a href="http://gnu.org/music/FreeSWSong.ogg">
   http://gnu.org/music/FreeSWSong.ogg
  </a>
  .
  <br/>
 </p>
 <img alt="song-book-jutta-scrunch-crop" src="/essay/11._The_Free_Software_Song/data/song-book-jutta-scrunch-crop.jpg"/>

