<!-- This is the second edition of Free Software, Free Society: Selected Essays of Richard M. Stallman.

Free Software Foundation

51 Franklin Street, Fifth Floor

Boston, MA 02110-1335
Copyright C 2002, 2010 Free Software Foundation, Inc.
Verbatim copying and distribution of this entire book are permitted
worldwide, without royalty, in any medium, provided this notice is
preserved. Permission is granted to copy and distribute translations
of this book from the original English into another language provided
the translation has been approved by the Free Software Foundation and
the copyright notice and this permission notice are preserved on all
copies.

ISBN 978-0-9831592-0-9
Cover design by Rob Myers.

Cover photograph by Peter Hinely.
 -->


 <a name="not-ipr">
 </a>
 <h1 class="chapter">
  15.  Did You Say ``Intellectual Property''? It's a Seductive Mirage
 </h1>
 <p>
  It has become fashionable to toss copyright, patents, and
trademarks—three separate and different entities involving three
separate and different sets of laws—plus a dozen other laws into
one pot and call it “intellectual property.” The
distorting and confusing term did not become common by accident.
Companies that gain from the confusion promoted it. The clearest way
out of the confusion is to reject the term entirely.
 </p>
 <p>
  According to Professor
  <a name="index-Lemley_002c-Mark">
  </a>
  Mark Lemley, now of the
Stanford Law School,
the widespread use of the term “intellectual property” is
a fashion that followed the 1967 founding of the
  <a name="index-World-_0060_0060Intellectual-Property_0027_0027-Organization-_0028WIPO_0029-_0028see-also-_0060_0060intellectual-property_0027_0027_0029">
  </a>
  World “Intellectual
Property” Organization (WIPO), and only became really common in recent
years. (WIPO is formally a
  <a name="index-UN-_0028United-Nations_0029">
  </a>
  UN organization, but in fact represents the
interests of the holders of copyrights, patents, and trademarks.)
 </p>
 <p>
  The term carries a bias that is not hard to see: it suggests thinking
about copyright, patents and trademarks by analogy with property
rights for physical objects. (This analogy is at odds with the legal
philosophies of copyright law, of patent law, and of trademark law,
but only specialists know that.) These laws are in fact not much like
physical property law, but use of this term leads legislators to
change them to be more so. Since that is the change desired by the
companies that exercise copyright, patent and trademark powers, the
bias introduced by the term “intellectual property” suits them.
 </p>
 <p>
  The bias is reason enough to reject the term, and people have often
asked me to propose some other name for the overall category—or
have proposed their own alternatives (often humorous). Suggestions
include IMPs, for Imposed Monopoly Privileges, and GOLEMs, for
Government-Originated Legally Enforced Monopolies. Some speak of
“exclusive rights regimes,” but referring to restrictions
as “rights” is doublethink too.
 </p>
 <p>
  Some of these alternative names would be an improvement, but it is a
mistake to replace “intellectual property” with any other
term. A different name will not address the term’s deeper problem:
overgeneralization. There is no such unified thing as
“intellectual property”—it is a mirage. The only
reason people think it makes sense as a coherent category is that
widespread use of the term has misled them.
 </p>
 <p>
  The term “intellectual property” is at best a catch-all to
lump together disparate laws. Nonlawyers who hear one term applied to
these various laws tend to assume they are based on a common
principle and function similarly.
 </p>
 <p>
  Nothing could be further from the case.
These laws originated separately, evolved differently, cover different
activities, have different rules, and raise different public policy issues.
 </p>
 <p>
  Copyright law was designed to promote authorship and art, and covers
the details of expression of a work. Patent law was intended to
promote the publication of useful ideas, at the price of giving the
one who publishes an idea a temporary monopoly over it—a price
that may be worth paying in some fields and not in others.
 </p>
 <p>
  Trademark law, by contrast, was not intended to promote any particular
way of acting, but simply to enable buyers to know what they are
buying. Legislators under the influence of the term “intellectual
property,” however, have turned it into a scheme that provides
incentives for advertising.
 </p>
 <p>
  Since these laws developed independently, they are different in every
detail, as well as in their basic purposes and methods. Thus, if you
learn some fact about copyright law, you’d be wise to assume that
patent law is different. You’ll rarely go wrong!
 </p>
 <p>
  People often say “intellectual property” when they really
mean some larger or smaller category. For instance, rich countries
often impose unjust laws on poor countries to squeeze money out of
them. Some of these laws are “intellectual property” laws,
and others are not; nonetheless, critics of the practice often grab
for that label because it has become familiar to them. By using it,
they misrepresent the nature of the issue. It would be better to use
an accurate term, such as “legislative colonization,” that
gets to the heart of the matter.
 </p>
 <p>
  Laymen are not alone in being confused by this term. Even law
professors who teach these laws are lured and distracted by the
seductiveness of the term “intellectual property,” and
make general statements that conflict with facts they know. For
example, one professor wrote in 2006:
 </p>
 <blockquote class="smallquotation">
  <p>
   Unlike their descendants who now work the floor at WIPO, the framers
of the US constitution had a principled, procompetitive attitude to
intellectual property. They knew rights might be necessary,
but…they tied congress’s hands, restricting its power in
multiple ways.
  </p>
 </blockquote>
 <p>
  That statement refers to Article I, Section 8, Clause 8, of the
  <a name="index-Constitution_002c-copyright-law_002c-trademark-law_002c-patent-law_002c-and-US">
  </a>
  US
Constitution, which authorizes copyright law and patent law. That
clause, though, has nothing to do with trademark law or various
others. The term “intellectual property” led that
professor to make false generalization.
 </p>
 <p>
  The term “intellectual property” also leads to simplistic
thinking. It leads people to focus on the meager commonality in form
that these disparate laws have—that they create artificial
privileges for certain parties—and to disregard the details
which form their substance: the specific restrictions each law places
on the public, and the consequences that result. This simplistic focus
on the form encourages an “economistic” approach to all
these issues.
 </p>
 <a name="index-citizen-values_002c-production-v_002e-freedom-and-way-of-life">
 </a>
 <p>
  Economics operates here, as it often does, as a vehicle for unexamined
assumptions. These include assumptions about values, such as that
amount of production matters while freedom and way of life do not,
and factual assumptions which are mostly false, such as that
copyrights on music supports musicians, or that patents on drugs
support life-saving research.
 </p>
 <p>
  Another problem is that, at the broad scale implicit in the term “intellectual
property,” the specific issues raised by the various laws become
nearly invisible. These issues arise from the specifics of each
law—precisely what the term “intellectual property”
encourages people to ignore. For instance, one issue relating to
copyright law is whether music sharing should be allowed; patent law
has nothing to do with this. Patent law raises issues such as whether
poor countries should be allowed to produce life-saving drugs and sell
them cheaply to save lives; copyright law has nothing to do with such
matters.
 </p>
 <p>
  Neither of these issues is solely economic in nature, and their
noneconomic aspects are very different; using the shallow economic
overgeneralization as the basis for considering them means ignoring the
differences. Putting the two laws in the “intellectual
property” pot obstructs clear thinking about each one.
 </p>
 <p>
  Thus, any opinions about “the issue of intellectual
property” and any generalizations about this supposed category
are almost surely foolish. If you think all those laws are one issue,
you will tend to choose your opinions from a selection of sweeping
overgeneralizations, none of which is any good.
 </p>
 <a name="index-call-to-action_002c-use-correct-terminology-_0028see-also-terminology_0029">
 </a>
 <p>
  If you want to think clearly about the issues raised by patents, or
copyrights, or trademarks, or various other different laws, the first
step is to forget the idea of lumping them together, and treat them as
separate topics. The second step is to reject the narrow perspectives
and simplistic picture the term “intellectual property”
suggests. Consider each of these issues separately, in its fullness,
and you have a chance of considering them well.
 </p>
 <a name="index-World-_0060_0060Intellectual-Property_0027_0027-Organization-_0028WIPO_0029-_0028see-also-_0060_0060intellectual-property_0027_0027_0029-1">
 </a>
 <p>
  And when it comes to reforming WIPO, among other things
let’s call for changing its name.
 </p>
 <hr size="2"/>

