<!-- This is the second edition of Free Software, Free Society: Selected Essays of Richard M. Stallman.

Free Software Foundation

51 Franklin Street, Fifth Floor

Boston, MA 02110-1335
Copyright C 2002, 2010 Free Software Foundation, Inc.
Verbatim copying and distribution of this entire book are permitted
worldwide, without royalty, in any medium, provided this notice is
preserved. Permission is granted to copy and distribute translations
of this book from the original English into another language provided
the translation has been approved by the Free Software Foundation and
the copyright notice and this permission notice are preserved on all
copies.

ISBN 978-0-9831592-0-9
Cover design by Rob Myers.

Cover photograph by Peter Hinely.
 -->


 <a name="Computing-_0060_0060Progress_0027_0027_003a-Good-and-Bad">
 </a>
 <h1 class="chapter">
  40. Computing “Progress”: Good and Bad
 </h1>
 <a name="index-Horowitz_002c-Bradley">
 </a>
 <a name="index-UK">
 </a>
 <a name="index-Big-Brother">
 </a>
 <a name="index-New-Labour">
 </a>
 <a name="index-China">
 </a>
 <a name="index-Yahoo">
 </a>
 <a name="index-proprietary-software_002c-spying-on-users-2">
 </a>
 <p>
  Bradley Horowitz of 
Yahoo proposed here
  <a href="#FOOT50" name="DOCF50">
   (50)
  </a>
  that every object in
our world have a unique number so that your cell phone could record
everything you do—even which cans you picked up while in the
supermarket.
 </p>
 <p>
  If the phone is like today’s phones, it will use proprietary software:
software controlled by the companies that developed it, not by its
users. Those companies will ensure that your phone makes the
information it collects about you available to the phone company’s
database (let’s call it Big Brother) and probably to other
companies.
 </p>
 <p>
  In the UK of the future, as New Labour would have it, those companies
will surely turn this information over to the police. If your phone
reports you bought a wooden stick and a piece of poster board, the
phone company’s system will deduce that you may be planning a protest,
and report you automatically to the police so they can accuse you of
“terrorism.”
 </p>
 <p>
  In the UK, it is literally an offense to be suspect—more precisely,
to possess any object in circumstances that create a “reasonable
suspicion” that you might use it in certain criminal ways. Your
phone will give the police plenty of opportunities to suspect you so
they can charge you with having been suspected by them. Similar
things will happen in China, where Yahoo has already given the
government all the information it needed to imprison a dissident; it
subsequently asked for our understanding on the excuse that it was
“just following orders.”
 </p>
 <a name="index-cell-phones-_0028see-also-both-OpenMoko-and-Apple_0029-1">
 </a>
 <p>
  Horowitz would like cell phones to tag information automatically,
based on knowing when you participate in an event or meeting. That
means the phone company will also know precisely whom you meet. That
information will also be interesting to governments, such as those of
the UK and China, that cut corners on human rights.
 </p>
 <p>
  I do not much like Horowitz’s vision of total surveillance. Rather, I
envision a world in which our computers never collect, or release, any
information about us except when we want them to.
 </p>
 <a name="index-DRM_002c-call-it-_0060_0060Digital-Restrictions-Management_0027_0027-6">
 </a>
 <p>
  Nonfree software does other nasty things besides spying; it often
implements digital handcuffs—features designed to restrict the users
(also called DRM, for Digital Restrictions Management). These features
control how you can access, copy, or move the files in your own
computer.
 </p>
 <p>
  DRM is a common practice:
  <a name="index-DRM_002c-and-Microsoft">
  </a>
  Microsoft does it,
  <a name="index-DRM_002c-and-Apple">
  </a>
  Apple does it,
  <a name="index-DRM_002c-and-Google">
  </a>
  Google
does it, even the
  <a name="index-DRM_002c-and-BBC-iPlayer">
  </a>
  <a name="index-iPlayer_002c-BBC-_0028see-also-DRM_0029">
  </a>
  BBC’s iPlayer does it. Many governments, taking the
side of these companies against the public, have made it illegal to
tell others how to escape from the digital handcuffs. As a result,
competition does nothing to check the practice: no matter how many
proprietary alternatives you might have to choose from, they will all
handcuff you just the same. If the computer knows where you are
located, it can make DRM even worse: there are companies that would
like to restrict what you can access based on your present location.
  <a name="index-DRM_002c-call-it-_0060_0060Digital-Restrictions-Management_0027_0027-7">
  </a>
 </p>
 <p>
  My vision of the world is different. I would like to see a world in
which all the software in our computers — in our desktop PCs, our
laptops, our handhelds, our phones — is under our control and
respects our freedom. In other words, a world where all software is
  <em>
   free
  </em>
  software.
 </p>
 <p>
  Free software, freedom-respecting software, means that every user of
the program is free to get the program’s source code and change the
program to do what she wants, and also free to give away or sell
copies, either exact or modified. This means the users are in
control. With the users in control of the software, nobody has power
to impose nasty features on others.
 </p>
 <p>
  Even if you don’t exercise this control yourself, you are part of a
society where others do. If you are not a programmer, other users of
the program are. They will probably find and remove any nasty
features, which might spy on or restrict you, and publish safe
versions. You will have only to elect to use them—and since
all other users will prefer them, that will usually happen with no
effort on your part.
 </p>
 <a name="index-Stross_002c-Charles">
 </a>
 <p>
  Charles Stross envisioned computers that permanently record everything
that we see and hear.
  <a href="#FOOT51" name="DOCF51">
   (51)
  </a>
  Those records could be very useful, as long as
Big Brother doesn’t see and hear all of them. Today’s cell phones are
already capable of listening to their users without informing them, at
the request of the police, the phone company, or anyone that knows the
requisite commands. As long as phones use nonfree software,
controlled by its developers and not by the users, we must expect this
to get worse. Only free software enables computer-using citizens to
resist totalitarian surveillance.
  <a name="index-cell-phones-_0028see-also-both-OpenMoko-and-Apple_0029-2">
  </a>
 </p>
 <a name="index-Winer_002c-Dave">
 </a>
 <p>
  Dave Winer’s article
  <a href="#FOOT52" name="DOCF52">
   (52)
  </a>
  suggested that Mr.
  <a name="index-Gates_002c-Bill">
  </a>
  Gates should send a copy of
  <a name="index-Windows_002c-Vista-2">
  </a>
  <a name="index-Vista_002c-Windows-_0028see-also-both-Windows-and-DRM_0029-3">
  </a>
  Windows Vista to
  <a name="index-Alpha-Centauri">
  </a>
  Alpha Centauri. I understand the feeling, but
sending just one won’t solve our problem here on Earth. Windows is
designed to spy on users and restrict them. We should collect all the
copies of
  <a name="index-DRM_002c-and-Windows">
  </a>
  Windows, and of
  <a name="index-DRM_002c-and-MacOS">
  </a>
  <a name="index-MacOS-_0028see-also-DRM_0029-1">
  </a>
  MacOS and
  <a name="index-DRM_002c-and-BBC-iPlayer-1">
  </a>
  <a name="index-iPlayer_002c-BBC-_0028see-also-DRM_0029-1">
  </a>
  iPlayer for the same reason, and send
them to Alpha Centauri at the slowest possible speed. Or just erase
them.
  <a name="index-Big-Brother-1">
  </a>
  <a name="index-proprietary-software_002c-spying-on-users-3">
  </a>
 </p>
 <div class="footnote">
  <hr>
   <h3>
    Footnotes
   </h3>
   <h3>
    <a href="#DOCF50" name="FOOT50">
     (50)
    </a>
   </h3>
   <p>
    Bradley Horowitz, “The Tech Lab: Bradley Horowitz,”
    <cite>
     BBC News,
    </cite>
    29 June 2007,
    <a href="http://news.bbc.co.uk/2/hi/technology/6252716.stm">
     http://news.bbc.co.uk/2/hi/technology/6252716.stm
    </a>
    .
   </p>
   <h3>
    <a href="#DOCF51" name="FOOT51">
     (51)
    </a>
   </h3>
   <p>
    Charles Stross, “The Tech Lab: Charles Stross,”
    <cite>
     BBC News,
    </cite>
    10 July 2007,
    <a href="http://news.bbc.co.uk/2/hi/technology/6287126.stm">
     http://news.bbc.co.uk/2/hi/technology/6287126.stm
    </a>
    .
   </p>
   <h3>
    <a href="#DOCF52" name="FOOT52">
     (52)
    </a>
   </h3>
   <p>
    Dave Winer, “The Tech Lab: Dave Winer,”
    <cite>
     BBC News,
    </cite>
    14 June 2007,
    <a href="http://news.bbc.co.uk/2/hi/technology/6748103.stm">
     http://news.bbc.co.uk/2/hi/technology/6748103.stm
    </a>
    .
   </p>
  </hr>
 </div>
 <hr size="2"/>

