{% extends "templates/base.html" %}
{% block main %}
  <h1>Backoffice</h1>
  <p>This page simulates a backoffice facility.  Through it,
  the user can see the money flow from Taler transactions to
  wire transfers and viceversa.</p>
  <table id="history" width="60%" style="visibility: hidden;">
    <tbody>
      <tr>
        <th>Order ID</th>
        <th>Summary</th>
        <th>Amount</th>
        <th>Date</th>
      </tr>
    </tbody>
  </table>
  <div class="loader"></div>
  <div id="popup1" class="overlay">
    <div class="popup">
      <h2>
        <a class="close" href="/backoffice">&times;</a>
      </h2>
      <div class="track-content">
        <table>
          <tbody>
            <tr>
              <th>WTID</th>
              <th>Amount</th>
              <th>Coin</th>
              <th>Date</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <a href="#" onclick="get_history(true);" style="margin-left: 90%;">Fake scroll</a>
{% endblock main %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ url("/static/popup.css") }}">
{% endblock styles %}

{% block scripts %}
  <script src="{{ url('/static/backoffice.js') }}" type="application/javascript"></script>
{% endblock scripts %}
