{% extends "templates/base.html" %}

{% block main %}
<article>
  <h1>Select your payment method</h1>

  <p>
    This is an example for a "checkout" page of a Web shop.
    On the previous page, you have created the shopping cart
    and decided which product to buy (i.e. which project to
    donate KUDOS to).  Now in this page, you are asked to
    select a payment option.  As Taler is not yet universally
    used, we expect merchants will offer various payment options.
  </p>
  <p>
    The page also demonstrates how to only enable (or show) the Taler
    option if Taler is actually supported by the browser.  For example,
    if you disable the Taler extension now, the Taler payment option
    will be disabled in the page.  Naturally, you could also trivially
    hide the Taler option entirely by changing the visibility instead.
  </p>
  <p>
    Note that you MUST select Taler here for the demo to continue,
    as the other payment options are just placeholders and not
    really working in the demonstration.  Also, it is of course
    possible to ask the user to make this choice already on the
    previous page (with the shopping cart), we just separated the
    two steps to keep each step as simple as possible.
  </p>
  
  <p {% if not display_alert %} style="display: none;" {% endif %} class="informational-fail">
    Only Taler system available in this demo!
  </p>

  <form name="tform" action="{{ url('/donate') }}" method="get">
    <div id="opt-form" align="left"><br>
      <input type="hidden" name="donation_receiver" value="{{ donation_receiver }}"></input>
      <input type="hidden" name="donation_amount" value="{{ donation_amount }}"></input>
      <input type="radio" name="payment_system" value="lisa"
             id="lisa-radio-button-id">Lisa</input>
      <br/>
      <input type="radio" name="payment_system" value="ycard">You Card</input>
      <br/>
      <input type="radio" name="payment_system" value="cardme">Card Me</input>
      <br/>
      <input type="radio" name="payment_system" value="taler"
             checked
             id="taler-radio-button-id" class="taler-installed-enable">Taler</input>
      <br/>
      <input id="select-payment-method" type="submit" value="Ok"></input>
    </div>
  </form>

</article>

{% endblock main %}
