{% extends "templates/base.html" %}

{% block scripts %}
<meta name="contract-hash" value="{{ hc }}">
<meta name="pay-url" value="{{ pay_url|safe }}">
<meta name="offering-url" value="{{ offering_url|safe }}">
<script src="static/execute-payment.js" type="application/javascript"></script>
{% endblock scripts %}

{% block main %}
<div id="msg">Executing payment <span id="action-indicator"></span></div>
{% endblock main %}
