{% extends "templates/base.html" %}

{% block main %}
<p> Thanks for donating <strong>{{ donation_amount }} {{ currency }}</strong> to <strong>{{ donation_receiver }}</strong>.</p>

<p>Please keep the order identifier <strong>{{ order_id }}</strong> as a receipt for your donation.</p>
{% endblock main %}
