{% extends "templates/base.html" %}

{% block main %}
<h1 lang="en">Welcome to the Taler Donation "Shop" Demo</h1>

<p>This toy donations website shows the user experience for donations with Taler.
You are paying with an imaginary currency ({{ merchant_currency }}).
</p>

<div class="taler-installed-hide">
  <h2>Installing the Taler wallet</h2>
  First, you need to install the Taler wallet browser extension.
  Install the wallet
  <span id="install-done" style="visibility: hidden">(done)</span>
  <ul>
    <li>from the app store for <a href="https://chrome.google.com/webstore/detail/gnu-taler-wallet/millncjiddlpgdmkklmhfadpacifaonc">Google
        Chrome and Chromium</a>
    </li>
    <li>By visiting our <a href="https://taler.net/wallet">installation page</a> for other platforms.
    </li>
  </ul>
  Wallets for other browsers will be provided in the near future.
</div>

<div class="taler-installed-show">
  <p>Please choose a project and the amount (*) of {{ merchant_currency }} you
    wish to donate:</p>

  <form name="tform" action="checkout" method="GET" class="pure-form">
    <div class="participation" id="fake-shop">
      <select name="donation_receiver">
        <option value="GNUnet">GNUnet</option>
        <option value="Taler">GNU Taler</option>
        <option value="Tor">Tor</option>
        <!-- options are added dynamically -->
      </select>
      <select id="taler-donation" name="donation_amount">
        <option value="0.1">0.1 {{ merchant_currency }}</option>
        <option value="1">1 {{ merchant_currency }}</option>
        <option value="6">5 {{ merchant_currency }}</option>
        <option value="10">10 {{ merchant_currency }}</option>
      </select>
      <input type="submit" class="pure-button pure-button-primary" value="Donate!"/>
    </div>
  </form>
  <p>
    (*) To make it a bit more fun, the 5 KUDOS option
    is deliberately implemented with a fault: the merchant will try to
    make you donate 6 KUDOS instead of the 5 KUDOS you got to see.  But do
    not worry, you will be given the opportunity to review the
    final offer from the merchant in a window secured
    by the Taler extension.  That way, you can spot the
    error before committing to an incorrect contract.
  </p>
</div>

<h2>Back-office interface</h2>
<!--p>Try the <a href="backoffice">back-office</a>, in order to track
orders and corresponding deposits.
</p Depends on #4992 -->

{% endblock %}
