{% extends "templates/base.html" %}
{% block main %}
{% include "articles/" + article_file %}
  <form action="/refund" method="POST">
    <input type="text" name="article_name" value={{ article_name}} hidden>
    <input type="submit" value="Ask refund!">
  </form>
{% endblock main %}
