{% extends "templates/base.html" %}
{% block main %}
  <h1>Backoffice</h1>
  <p>This page simulates a backoffice facility.  Through it,
  the user can see the money flow from Taler transactions to
  wire transfers and viceversa.</p>
  <div>
    <form action="">
      <input type="text"
             placeholder="Order ID"
             class="order"></input><br>
      <input type="text"
             placeholder="WTID"
             class="transfer"
             style="visibility: hidden;"></input><br>
      <input type="text"
             placeholder="Exchange URI"
             class="transfer"
             style="visibility: hidden;"></input><br>
      <input type="radio"
             name="track-type"
             value="order"
             onclick="cherry_pick_form_order(this.parentNode)"
             checked>Track order id</input><br>
      <input type="radio"
             name="track-type"
             value="wtid"
             onclick="cherry_pick_form_transfer(this.parentNode)">Track wire transfer</input><br>
      <input type="button"
             value="submit"
             onclick='track_cherry_pick(this.parentNode)'></input>
    </form>
  </div>
  <div id="history-container">
    <table id="history" width="50%" style="visibility: hidden;">
      <col width="40">
      <col width="40">
      <col width="40">
      <tbody>
        <tr class="no-records">
          <th colspan="3">No records found</th>
        </tr>
        <tr class="headers" style="visibility: hidden">
          <th class="order-id">Order ID</th>
          <th class="amount">Amount</th>
          <th class="date">Date</th>
        </tr>
      </tbody>
    </table>
    <br/>
    <div class="loader"></div>
  </div>

  <div id="popup1" class="overlay">
    <div class="popup">
      <h2>
        <a class="close" href="#" onclick="close_popup();">&times;</a>
      </h2>
      <div class="track-content">
        <table>
          <tbody>
            <tr>
              <th class="wtid">WTID</th>
              <th class="amount">Amount</th>
              <th class="date">Date</th>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock main %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ url("/static/backoffice.css") }}">
{% endblock styles %}

{% block scripts %}
  <script src="{{ url('/static/backoffice.js') }}" type="application/javascript"></script>
{% endblock scripts %}
