<!DOCTYPE html>
<!-- 
  This file is part of GNU TALER.
  Copyright (C) 2014, 2015, 2016 INRIA

  TALER is free software; you can redistribute it and/or modify it under the
  terms of the GNU Lesser General Public License as published by the Free Software
  Foundation; either version 2.1, or (at your option) any later version.

  TALER is distributed in the hope that it will be useful, but WITHOUT ANY
  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
  A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public License along with
  TALER; see the file COPYING.  If not, see <http://www.gnu.org/licenses/>
-->
<html data-taler-nojs="true" {{ data_attribute }}>
<head>
  <title>Richard M. Stallman: Free Software, Free Society</title>
  <link rel="stylesheet" type="text/css" href="{{ url('/static/web-common/pure.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url('/static/web-common/demo.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url("/static/web-common/taler-fallback.css") }}" id="taler-presence-stylesheet">
  <script src="{{ url("/static/web-common/taler-wallet-lib.js") }}" type="application/javascript"></script>
  <script src="{{ url("/static/web-common/lang.js") }}" type="application/javascript"></script>
  <meta http-equiv="content-type" content="text/html;CHARSET=utf-8">
  {% block styles %}{% endblock %}
  {% block scripts %}{% endblock %}
</head>

<body>
  {% block body_prelude %}{% endblock %}
  <div class="demobar">
    <h1><span class="tt adorn-brackets">Taler Demo</span></h1>
    <h1><span class="it"><a href="{{ env('TALER_ENV_URL_MERCHANT_BLOG') }}">Essay Shop</a></span></h1>
    <p>This essay shop demonstrates how Taler can be used to pay for web resources.</p>
    <ul>
      <li><a href="{{ env('TALER_ENV_URL_INTRO', '#') }}">Introduction</a></li>
      <li><a href="{{ env('TALER_ENV_URL_BANK', '#') }}">Bank</a></li>
      <li><a href="{{ env('TALER_ENV_URL_MERCHANT_BLOG', '#') }}">Essay Shop</a></li>
      <li><a href="{{ env('TALER_ENV_URL_MERCHANT_DONATIONS', '#') }}">Donations</a></li>
    </ul>
    <p>You can learn more about Taler on our main <a href="https://taler.net">website</a>.</p>
  </div>

  <section id="main" class="content">
    <div id="logo">
      <a href="{{ url("/") }}">
        <img src="{{ url("/static/gnu.svg") }}" height=100 width=100 alt="GNU logo">
      </a>
    </div>
    <h1 class="nav">Richard M. Stallman: Free Software, Free Society</h1>
    {% block main %}
    <em>(main content goes here)</em>
    {% endblock main %}
    <hr />
    <div class="copyright">
      <p>Copyright &copy; 2014&mdash;2016 INRIA</p>
      <a href="/javascript" data-jslicense="1" class="jslicenseinfo">JavaScript license information</a>
    </div>
  </section>
</body>
</html>
