<!doctype html>
<html>
  <body>
   <div id="ccfakeform" class="fade">
     <p>
     Oops, it looks like you don't have a Taler wallet installed.  Why don't you enter
     all your credit card details before reading the article? <em>You can also
     use GNU Taler to complete the purchase at any time.</em>
     </p>
   
     <form>
       First name<br> <input type="text"></input><br>
       Family name<br> <input type="text"></input><br>
       Age<br> <input type="text"></input><br>
       Nationality<br> <input type="text"></input><br>
       Gender<br> <input type="radio" name"gender">Male</input>
       CC number<br> <input type="text"></input><br>
       <input type="radio" name="gender">Female</input><br>
     </form>
     <form method="get" action="/cc-payment/{{ article_name }}">
       <input type="submit"></input>
     </form>
   </div>
  </body>
</html>
