{% extends "templates/base.html" %}
{% block main %}
      <h1>About</h1>
      <p>This &quot;blog&quot; simulates how a website selling articles using
         Taler should work.
         We illustrate the use of Taler using articles from
         Richard Stallman's book &quot;Free Software, Free Society&quot;,
         which is also
        <a href="http://shop.fsf.org/product/free-software-free-society-2/">published by the FSF</a>
        and available gratis at <a href="http://www.gnu.org/">gnu.org</a>.
      </p>

    <h2 class="taler-installed-hide">Taler wallet required for payment</h2>

    <p class="taler-installed-hide">
    This site requires a Taler wallet to pay for articles.
    Please visit our <a href="/landing">landing page</a>
    to install a wallet (and to withdraw digital coins).
    </p>
    <h2>Back-office interface</h2>
    <p>
    If you are a merchant and want to track your deposits, try the
    <a href="/backoffice">back-office</a>!
    </p>

    <h2>Free Software, Free Society</h2>

    <p>This is the second edition of <cite>Free Software, Free Society: Selected Essays of Richard M. Stallman.</cite><br>
Free Software Foundation<br>
51 Franklin Street, Fifth Floor<br>
Boston, MA 02110-1335
<br>
Copyright &copy; 2002, 2010 Free Software Foundation, Inc.
</p><blockquote><p>Verbatim copying and distribution of this entire book are permitted
worldwide, without royalty, in any medium, provided this notice is
preserved. Permission is granted to copy and distribute translations
of this book from the original English into another language provided
the translation has been approved by the Free Software Foundation and
the copyright notice and this permission notice are preserved on all
copies.
</p></blockquote>
<p>ISBN 978-0-9831592-0-9
<br>
<br>
</p>
<p>
<em>Richard Stallman is the prophet of the free software movement.
He understood the dangers of software patents years ago. Now that
this has become a crucial issue in the world, buy this book and read
what he said.</em><br> &mdash;<strong>Tim Berners-Lee,</strong> inventor of the World
Wide Web
<br>
<br>
<em>Richard Stallman is the philosopher king of software. He
single-handedly ignited what has become a world-wide movement to
create software that is Free, with a capital F. He has toiled for
years at a project that many once considered a fool&rsquo;s errand, and now
that is widely seen as &ldquo;inevitable.&rdquo;</em><br> &mdash;<strong>Simon&nbsp;L.
Garfinkel,</strong> computer science author and columnist
<br>
<br>
<em>By his hugely successful efforts to establish the idea of &ldquo;Free
Software,&rdquo; Stallman has made a massive contribution to the human
condition. His contribution combines elements that have technical,
social, political, and economic consequences.</em><br> &mdash;<strong>Gerald Jay
Sussman,</strong> Matsushita Professor of Electrical Engineering, MIT
<br>
<br>
<em>RMS is the leading philosopher of software. You may dislike
some of his attitudes, but you cannot avoid his ideas. This slim
volume will make those ideas readily accessible to those who are
confused by the buzzwords of rampant commercialism. This book needs
to be widely circulated and widely read.</em><br> &mdash;<strong>Peter Salus,</strong>
computer science writer, book reviewer, and UNIX historian
<br>
<br>
<em>Richard is the leading force of the free software movement.
This book is very important to spread the key concepts of free
software world-wide, so everyone can understand it. Free software
gives people freedom to use their creativity.</em><br> &mdash;<strong>Masayuki
Ida,</strong> professor, Graduate School of International Management, Aoyama
Gakuin University
</p>
    <h2>Chapters</h2>
    <!-- TODO: show this section ONLY if Taler wallet is present! -->
    <ul style="list-style-type:none">
      {% for article in articles %}
      <h3><a href="{{ url_for("article", name=article.slug) }}">{{article.title}}</a></h3>
      {{ article.teaser|safe }}
      {% else %}
      <em>(No articles available)</em>
      {% endfor %}
    </ul>
{% endblock main %}
