{% extends "templates/base.html" %}

{% block main %}
<meta name="hc" value="{{ hc }}">
<meta name="pay_url" value="{{ pay_url|safe }}">
<meta name="offering_url" value="{{ offering_url|safe }}">
<meta name="contract_url" value="{{ contract_url|safe }}">
<meta name="no_contract" value="{{ no_contract }}">
<div id="ccfakeform" class="fade">
  <p>
  Oops, it looks like you don't have a Taler wallet installed.  Why don't you enter
  all your credit card details before reading the article? <em>You can also
  use GNU Taler to complete the purchase at any time.</em>
  </p>

  <form>
    First name<br> <input type="text"></input><br>
    Family name<br> <input type="text"></input><br>
    Age<br> <input type="text"></input><br>
    Nationality<br> <input type="text"></input><br>
    Gender<br> <input type="radio" name"gender">Male</input>
    CC number<br> <input type="text"></input><br>
    <input type="radio" name="gender">Female</input><br>
  </form>
  <form method="get" action="/cc-payment/{{ article_name }}">
    <input type="submit"></input>
  </form>
</div>

<div id="talerwait">
  <em>Processing payment with GNU Taler, please wait <span id="action-indicator"></span></em>
</div>
{% endblock main %}

{% block body_prelude %}
  <script src="{{ url('/static/body-prelude.js') }}" type="application/javascript"></script>
{% endblock body_prelude %}

{% block scripts %}
  <script src="{{ url('/static/purchase.js') }}" type="application/javascript"></script>
{% endblock scripts %}
